.background{
  height: 550px;
  background-color: rgb(204, 204, 204);
  padding: 100px 15px 0px;
  background-image: url(../images/about/about.jpg);
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  .content-wrapper{
    padding-top: 100px;
    text-align: center;
    h1.title{
      margin-top: 50px;
      font-size: 44px;
      font-weight: 400;
      color: #fff;
    }
    h3{
      margin-top: 100px;
      margin-bottom: 14px;
      font-weight: 400;
      font-size: 20px;
      color: #fff;
    }
    p{
      //margin-top: 35px;
      color: #fff;
      font-size: 12px;
      margin-bottom: 5px;
      line-height: 1.8;
    }
  }
}
.box {
  .item{       
      height: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  }
  .center .content{
    padding: 0 6.5em;
    line-height: 1.8;
  }
  &.box-1{
    background-color: #fff;
    .center .content{
      height: 8em;
      text-align: left;
    }
  }
  &.box-2{
    background-color: #f8f8f8;
    .center .content{
      height: 4em;
      text-align: left;
      padding: 0 9.5em;
    }
  }
}
@media(min-width:992px) and (max-width: 1199px){
  .box .center .content {
    padding: 0 4.5em;
  }
  .box.box-2{
    .center .content{
      padding: 0 5.5em;
    }
  }
}
@media(min-width:768px) and (max-width: 991px){ 
  .box.box-1{
    .center .content {
      padding: 0 3.5em;
      height: 11em;
      font-size: 16px;
    }
  }
  .box.box-2{
    .center .content {
      padding: 0 2.5em;
      height: 4.5em;
      font-size: 16px;
    }
  }
  .box.box-lg {
      height: 375px;
  }
}
@media(max-width:767px){
  .background .content-wrapper h1.title {
    font-size: 44px;
  }
}
@media(min-width:480px) and (max-width:767px){
  .box.box-2 .center .content {
     padding: 0px 7.5em; 
  }
}

@media(max-width: 479px){
  .background {
    .content-wrapper {
      h1.title {
        font-size: 34px;
      }
      p{
        font-size: 12px;
      }
    }
  }
  .box.box-2,.box.box-1{
    .center{
      position: relative;
      left: inherit;
      right: inherit;
      top: inherit;
      bottom: inherit;
    }
    .center .content{
      padding: 50px 30px;
      height: auto;
    }
  }
  .box .box-hover{
    p{
      font-size: 14px;
    }
  } 
}

@media(max-width: 375px){
  .background {
    .content-wrapper {
      h1.title {
        font-size: 29px;
      }
      h3{
        font-size: 16px;
        margin-top: 120px;
      }
      p{
        font-size: 12px;
      }
    }
  }
  .box{
    p{
      font-size: 14px;
    }
  }
}