#footer {
    background-color: #282828;
    border: 0px;
    margin: 0px;
    padding: 5% 8.333%;
    z-index: 19;
    position: relative;
    margin-bottom: 20px;
    .logo {
        text-indent: -5000px;
        display: inline-block;
        width: 100px;
        height: 100px;
        background-image: url(../images/header/logo.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    p {
        color: #FFF;
        margin-bottom: 30px;
    }
    a {
        color: #FFF;
    }
    ul {
        margin-top: 31px;
        padding: 0;
        margin: 0 0 10px;
        li {
            list-style-type: none;
            font: bold 0.625em/3em "Microsoft YaHei","Arial",sans-serif;
            margin-right: 9px;
            a {
                text-transform: uppercase;
                transition: color 0.3s ease-in-out;
                &:hover {
                    color: #FFA727;
                    text-decoration: none;
                }
            }
        }
    }
    h3 {
        color: #FFF;
        text-transform: uppercase;
        font-size: 1.125em;
        line-height: 1.16666666666667em;
        margin-top: 10px;
    }
    .studios {
        column-count: 3;
        margin-bottom: 33px;
        li {
            width: 33.333%;
            float: left;
            min-width: 100px;
            margin-right: 0px;
        }
    }
    .legal {
        color: #666;
        font: 400 0.625em/1.4em "Microsoft YaHei","Arial",sans-serif;
        margin: 20px 0;
        margin-bottom: 10px;
        margin-top: 0px;
        a {
            color: #666;
        }
    }
    .span3{
        vertical-align: top;
        p{
            a{
                font: bold 0.71428571428571em "Microsoft YaHei","Arial",sans-serif;
                text-transform: uppercase;
            }
        }
        .qr-wrapper{
            background-color: #fff;
            border-radius: 10px;
            .content{
                padding: 20px;
                .con-left{
                    width: 48%;
                    display: inline-block;
                    vertical-align: top;
                      p{
                        color: #ffa000;
                        margin-bottom: 10px;
                        font-size: 16px;
                        font-weight: 600;
                    }
                    ul{
                        li{
                            .iconfont{
                                font-size: 20px;
                                vertical-align: middle;
                            }
                            span{
                                padding-left: 5px;
                                a{
                                    color: #333;
                                }
                            }
                        }
                    }
                }
                .con-right{
                    display: inline-block;
                    width: 50%;
                    img{
                        width: 150px;
                        height: 150px;
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                        position: relative;
                        top: inherit;
                        left: inherit;
                    }
                    p{
                        font-size: 12px;
                        color: #333;
                        margin-bottom: 0px;
                        text-align: center;
                    }
                }
            }
        }
    }
    .span4 {
        vertical-align: top;
        p {
            clear: both;
            a {
                font: bold 0.71428571428571em "Microsoft YaHei","Arial",sans-serif;
                text-transform: uppercase;
                &:hover {
                    background: none;
                }
            }
        }
    }
}  

.i18n-zh-hans #footer .span4 p {
    line-height: 21px;
}
.i18n-zh-hans #footer ul li {
    font-size: 0.6875em;
}

.row-fluid{
    width: 100%;
    position: relative;
    .offset1 {
        margin-left: 5%!important;
    }
    [class*="span"] {
        position: relative;
        overflow: visible;
        display: block;
        width: 100%;
        min-height: 260px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        margin-left: 2.127659574468085%;
    }
    .span3 {
        width: 35%!important;
    }
    .span4 {
        width: 20%!important;
        min-width: 100px;
    }
}
// .row-fluid [class*="span"], .page-work [class*="span"], .page-platforms [class*="span"], .page-home [class*="span"] {
//     margin-left: 0px!important;
//     overflow: hidden;
//     float: left;
// }

.language-switch-area {
    top: 15px;
    color: white;
    font-family: "Microsoft YaHei","Arial",sans-serif;
    margin-bottom: 20px;
    font-weight: bold;
}
@media (min-width: 1200px){
  .row-fluid {
    width: 100%;
  }
  .row-fluid .span4 {
    width: 31.623931623931625%;
  }
  .row-fluid [class*="span"] {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 2.564102564102564%;
  }
  .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }
}
@media (max-width: 1199px) and (min-width: 992px){
    .row-fluid .span4 {
        width: 18%!important;
    }
    .row-fluid .offset1 {
      margin-left: 4.333%!important;
    }
    #footer .span3 .qr-wrapper{
        .content{
            padding: 15px;
            .con-left{
                width: 47%;

            }
            .con-right{
                img{
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}
@media (max-width: 991px) and (min-width: 768px){
    .row-fluid {
        width: 100%;
    }
    .row-fluid [class*="span"]:first-child {
        margin-left: 0;
    }
}

@media (max-width:991px){
    .row-fluid [class*="span"] {
        min-height: auto;
    }
    #footer .span4 {
        //width: 20% !important;
        //border-bottom: 1px solid #454545;
        margin-bottom: 30px;
        margin-left: 0px;
        float: none;
        display: inline-block;
        .studios {
            width: 50%;
        }
    }
    #footer {
        .span3 {
            display: inline-block;
            float: none;
            &:nth-child(2){
                //width: 80% !important;
                width: 390px;
                margin-left: 40px!important;
                p{
                    margin-top: 10px;
                }
            }
            &:nth-child(3){
                width: 100% !important;
                width: auto;
                margin: 0px !important;
            }
        }
    }
    .row-fluid [class*="span"] {
        float: left;
    }
    #footer .legal{
        margin-top: 20px;
    }
}
@media (max-width: 767px){
    .row-fluid {
        width: 100%;
    }
    #footer .span4 p {
        font-size: 1.0em;
    }
}

@media (max-width: 480px){
    .row-fluid [class*="span"] {
        min-height: inherit; 
    }
    #footer .row-fluid {
        margin-bottom: 31px;
    }
    #footer .span4 p {
        font-size: 14px;
    }
    #footer .span4 .studios {
        width: 100%;
    }
    #footer .span3 {
        width: 100% !important;
        margin: 0px !important;
    }
}
    
