#footer {
    background-color: #262626;
    border: 0px;
    margin: 0px;
    padding: 5% 8.333%;
    z-index: 19;
    position: relative;
    margin-bottom: 20px;
}

#footer p {
    color: #FFF;
    margin-bottom: 30px;
}

#footer a {
    color: #FFF;
}

#footer ul {
    margin-top: 31px;
    padding: 0;
    margin: 0 0 10px;
}

#footer ul li {
    list-style-type: none;
    font: bold 0.625em/3em "BentonSans","Arial",sans-serif;
    margin-right: 9px;
}
#footer .studios li {
    width: 50%;
    float: left;
    min-width: 100px;
    margin-right: 0px;
}
#footer ul li a {
    text-transform: uppercase;
}

#footer ul li a:hover {
    color: #46bd00;
}

#footer h3 {
    color: #FFF;
    text-transform: uppercase;
    font-size: 1.125em;
    line-height: 1.16666666666667em;
    margin-top: 10px;
}

#footer .logo {
    text-indent: -5000px;
    display: inline-block;
    width: 60px;
    height: 36px;
}

#footer .studios {
    column-count: 2;
    margin-bottom: 33px;
}

#footer .studios li {
    width: 50%;
    float: left;
    min-width: 100px;
    margin-right: 0px;
}
.i18n-zh-hans #footer .span4 p {
    line-height: 21px;
}
.i18n-zh-hans #footer ul li {
    font-size: 0.6875em;
}
#footer .span4 p {
    clear: both;
}

#footer .span3 p a,#footer .span4 p a {
    font: bold 0.71428571428571em "BentonSans","Arial",sans-serif;
    text-transform: uppercase;
}

#footer .span4 p a:hover {
    background: none;
}

#footer .legal {
    color: #666;
    font: 400 0.625em/1.4em "source-code-pro","Courier","FangSong","仿宋","STHeiti","华文黑体",serif;
    margin: 20px 0;
    margin-bottom: 10px;
    margin-top: 0px;
}

#footer .legal a {
    color: #666;
}
.row-fluid{
    width: 100%;
    position: relative;
}
.row-fluid .offset1 {
    margin-left: 8.333%!important;
}

.row-fluid [class*="span"] {
    position: relative;
    overflow: visible;
}
// .row-fluid [class*="span"], .page-work [class*="span"], .page-platforms [class*="span"], .page-home [class*="span"] {
//     margin-left: 0px!important;
//     overflow: hidden;
//     float: left;
// }
.row-fluid [class*="span"] {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 2.127659574468085%;
}
.row-fluid .span3 {
    width: 25%!important;
}
.row-fluid .span4 {
    width: 33.333%!important;
}
.language-switch-area {
    top: 15px;
    color: white;
    font-family: "BentonSans","Arial",sans-serif;
    margin-bottom: 20px;
    font-weight: bold;
}
@media (min-width: 1200px){
  .row-fluid {
    width: 100%;
  }
  .row-fluid .span4 {
    width: 31.623931623931625%;
  }
  .row-fluid [class*="span"] {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 2.564102564102564%;
  }
  .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }
}
@media (max-width: 1199px) and (min-width: 980px){
    .row-fluid .offset1 {
      margin-left: 6.333%!important;
    }
}
@media (max-width: 979px) and (min-width: 768px){
    .row-fluid {
        width: 100%;
    }
    .row-fluid [class*="span"]:first-child {
        margin-left: 0;
    }
}

@media (max-width:900px){
    #footer .span4 {
        width: 100% !important;
        border-bottom: 1px solid #454545;
        margin-bottom: 30px;
        .studios {
            width: 50%;
        }
    }
    #footer .span3 {
        width: 50% !important;
        margin: 0px !important;
    }
    .row-fluid [class*="span"] {
        float: left;
    }
}
@media (max-width: 767px){
    .row-fluid {
        width: 100%;
    }
    #footer .span4 p {
        font-size: 1.0em;
    }
}

@media (max-width: 480px){
    #footer .row-fluid {
        margin-bottom: 31px;
    }
    #footer .span4 p {
        font-size: 14px;
    }
    #footer .span4 .studios {
        width: 100%;
    }
    #footer .span3 {
        width: 100% !important;
        margin: 0px !important;
    }
}
    
