@import "lesshat";
body {
    background: #f6f1eb; 
    font-family: "Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif !important;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: 16px; 
    //max-height: 999999px;
}
// body * { 
//     max-height: 999999px;
// }
.btn:hover, .btn:focus, .btn.focus ,.btn:active{
    outline: none;
} 
a.btn{
  transition:opacity 0.3s ease-in-out;
}
::selection {
  background:#FFA727; 
  color:#fff;
}
.box-wrapper {
    padding:0px;
}
.box {
    position: relative;
    margin-top: 0px;
    overflow: hidden;
    z-index: 20;
    border: 0px;
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1),box-shadow 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    webkit-transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1),box-shadow 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    img{
      opacity: 0.1;
      z-index: -1;
      &.secondary_img{
        opacity: 0.05;
      }
    }
}
.box:hover{
  .box-hover{
    // -webkit-transform: translate(0, 0);
    // -moz-transform: translate(0, 0);
    // -ms-transform: translate(0, 0);
    // -o-transform: translate(0, 0);
    // transform: translate(0, 0);
    opacity: 1;
  }
}
.box .box-hover-black{
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  .center .content{
    text-align: left;
    height: 7.5em;
    padding: 0 4.5em;
  }
}
.box .box-content {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    color:#fff;
    h3{
      font-weight: 400;
    }
}
img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    // opacity: 1;
}
.box.box-drum{
  background-color: #00a6f6;
}
.box.box-piano{
  background-color:#ab47bc;
}
.box.box-guitar{
  background-color:#ef6c00;
}
.box.box-saxophone{
  background-color:#00c853;
}
.box.box-number{
  background-color:#18db4d;
  text-align: center;
  color: #fff;
  .center .content {
    height: 15.5em;
  }
  h2{
      font-weight: normal;
      line-height: 1.4;
      font-size: 46px;
  }
  a.btn{
    background-color: #fff;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: #18cc3a;
    margin-top: 20px;
    font-size: 16px;
    padding: 7px 24px;
    z-index: 2;
    opacity: 1;
  }
  img{
    z-index: -1;
  }
  // &:hover{
  //   a.btn{
  //     transition: all  0.8s ease-in-out;
  //     opacity: 1;
  //   }
  // }
}
.box.box-violin{
  background-color:#875e4e;
}
.box.box-instrument{
  .center .content{
    height: 3.5rem;
    padding: 0;
    color: rgba(255, 255, 255, 1);
    h3{
      font-weight: 400;
      font-size: 40px;
    }
  }
  &:hover{
    transform:scale(1.05);
    box-shadow: 0 37.125px 70px -12.125px rgba(0,0,0,0.3);
    z-index: 21;
  }
}
.box.box-teacher{
    background-image: url(../images/teacher/bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &:hover{
      transform:scale(1.05);
      box-shadow: 0 37.125px 70px -12.125px rgba(0,0,0,0.3);
      z-index: 21;
    }
}
.box.box-shop{
    background-image: url(../images/index/shop.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &:hover{
      transform:scale(1.05);
      box-shadow: 0 37.125px 70px -12.125px rgba(0,0,0,0.3);
      z-index: 21;
    }
}
.box.box-link{
  .box-content{
    padding: 20px 60px;
    position: relative;
  }
  h4.vice-title{
    font-weight: 600;
    //color: rgba(43,43,43,.5);
    margin-top: 90px;
    font-size: 17px;
  }
  h3{
    margin-top: 10px;
    font-size: 36px;
    font-weight: 600;
  }
  ul{
    color: rgba(43,43,43,.5);
    padding-left: 0;
    list-style: none;
    margin-top: 85px;
    font-size: 16px;
    li{
      line-height: 1.8;
    }
  }
  p{
    font-size: 14px;
    margin-top: 88px;
    width:90%;
    color: #333;
  }
  a{
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff;
    font-size: 16px;
    padding: 6px 12px; 
    //opacity: 0;
    opacity: 1;
    &:hover{
      text-decoration: none;
    }
  }
  // &:hover{
  //   a{
  //     transition: all  0.8s ease-in-out;
  //     opacity: 1;
  //   }
  // }
}
.box.box-class{
  background-image: url(../images/index/zhinengjiaoshi.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  &:hover{
    transform:scale(1.05);
    box-shadow: 0 37.125px 70px -12.125px rgba(0,0,0,0.3);
    z-index: 21;
  }
  .center .content {
    height: 6.5rem;
    text-align: center;
    color: #fff;
  }
  h3{
    font-size: 38px;
  }
  p{
    font-size: 28px;
  }
}
.box.box-trolls{
  background-image: url(../images/index/trolls.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  &:hover{
    transform:scale(1.05);
    box-shadow: 0 37.125px 70px -12.125px rgba(0,0,0,0.3);
    z-index: 21;
  }
}
.box .box-hover{
  position: relative;
  width: 100%;
  height: 100%;
  // -webkit-transform: translate(100%, 100%);
  // -moz-transform: translate(100%, 100%);
  // -ms-transform: translate(100%, 100%);
  // -o-transform: translate(100%, 100%);
  // transform: translate(100%, 100%);
  opacity: 0;
  -webkit-transition: opacity 0.35s ease-in;
  -moz-transition: opacity 0.35s ease-in;
  -ms-transition: opacity 0.35s ease-in;
  -o-transition: opacity 0.35s ease-in;
  transition: opacity 0.35s ease-in;
}

.br-white{
  background: #fff;
}
.type {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 101;
  text-align: center;
  span {
    background-color: #fff;
    color: #000;
    padding: 0px 10px;
    position: relative;
    z-index: 101;
    font: bold 9px/20px "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    text-transform: uppercase;
    display: inline-block;
    // top: -4px;
    vertical-align: top;
  }
}
.center{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    margin: auto;
    .content{
        text-align: center;
        width: 100%;
        height: 10.5em;
        padding: 0 2.5em;
        -webkit-box-align: center;
        -moz-box-align: center;
        -o-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -o-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        h3{
            margin-top: 0px;
            text-align: center;
        }
    }
}
.title-sec{
  background-color: #f8f8f8;
  opacity: 0.6;
}
.btn:focus{
  outline: none;
}
.modal-dialog{
  margin: inherit;
}
#myModal .modal-dialog{
  width: 220px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: auto;
  display: block;
  .modal-content{
    background-color: transparent;
    box-shadow: none;
    border: none;
    .modal-header{
      position: relative;
      background-color: transparent;
      border-bottom: none;
      h3{
        color: #FFA727;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 15px;
        margin-top: 20px;
      }
      .icon-wrapper{
        min-height: 60px;
        p{
          width: 33.3333%;
          display: inline-block;
          float: left;
          text-align: center;
          margin-bottom: 0px;
          span{
            color:#fff;
            font-size: 12px;
            display: block;
          }
        }
        .iconfont{
          font-size: 40px;
          color: #fff;
        }
      }
      button.close {
        font-size: 36px;
        font-weight: 300;
        text-shadow: none;
        color: #fff;
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
        background: 0 0;
        position: absolute;
        right: 0;
        bottom: 5px;
        z-index: 10;
        &:focus{
          outline: none;
        }
      }
    }
    .modal-body{
      background-color: #fff;
      border-radius: 8px;
      margin-top: 20px;
      img{
        width: 180px;
        height: 180px;
        position: relative;
        margin: 5px auto;
        display: block;
      }
      .sub_title{
        text-align: center;
      }
      .extension {
        margin-top: 40px;
        display: block;
        text-align: left;
        max-width: 296px;
        margin-left: auto;
        margin-right: auto;
        .item {
          margin-bottom: 30px;
        }
        .icon {
          float: left;
          margin-right: 20px;
          margin-top: 4px;
        }
        .cont {
          overflow: hidden;
        }
        .title {
          font-weight: 400;
          font-size: 14px;
          color: #353535;
          margin: 0;
        }
        .desc {
          font-size: 12px;
          color: #353535;
          margin: 0;
        }
      }
      &.message{
        background-color: transparent;
        padding: 0px;
        font-size: 14px;
        color: #fff;
        font-weight: bold;
        ol{
          padding-left: 20px;
          line-height: 1.8;
        }
      }
    }
  }
}

/* ======= Carousel ======= */
.carousel-control{
  &.left,&.right{
    background: none;
  }
}
/* ======= Modal ======= */
.video-container iframe, video {
    max-width: 100%;
}
.modal.modal-video .modal-dialog {
  width: 760px;
  margin-top: 90px;
  .transform(scale(1, 0) rotate(90deg) skew(30deg, 20deg));
  .transition(all 0.5s 0.3s);
  &.active{
    .transform(scale(1, 1) rotate(0deg) skew(0deg, 0deg));
  }
}

.modal.modal-video .modal-body {
  padding: 0;
  padding-top: 0;
}
.modal.modal-video .modal-header {
  border: none;
  padding: 0;
  position: relative;
}
.modal.modal-video .modal-content {
  background: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.modal.modal-video button.close {
  font-size: 36px;
  font-weight: 300;
  text-shadow: none;
  color: #fff;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  background: none;
  position: absolute;
  right: 0px;
  bottom: 5px;
  z-index: 10;
}
.modal.modal-video button.close:hover {
  color: #ec6952;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
#myModal2,#myModalSax,#myModalPer,#myModalRec{
  .modal-backdrop.in {
    filter: alpha(opacity=80);
    opacity: 0.8;
  }
  .modal-dialog{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 420px;
    overflow: auto;
    display: block;
    .modal-content{
      background-color: transparent;
      box-shadow: none;
      border: none;
      color: #fff;
      .modal-header{
        border-bottom: none;
        .title {
          font-size: 32px;
          margin: 0 20px 40px;
          text-align: center;
        }
      }
      .modal-body{
        .text-wrap {
          margin: 0 20px 50px;
          font-size: 14px;
           .note {
            font-size: 12px;
            padding-left: 1em;
            text-indent: -1em;
          }
        }
        .close {
          display: block;
          width: 80px;
          margin: 0 auto;
          text-align: center;
          color: white;
          font-size: 14px;
          line-height: 140%;
          font-size: 36px;
          opacity: 1;
          float: inherit;
          &:focus{
            outline: none;
          }
        }
      }
    }
  }
}

.web_wechat_login_phone_icon {
    background: url(../images/sprite.png) 0 -1135px;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    display: inline-block;
}
.web_wechat_login_scan_icon {
    background: url(../images/sprite.png) 0 -1167px;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    display: inline-block;
}
.btn.weixin{
  display: none;
}
@media(min-width:768px){
  #myModal2 .modal-dialog{
    width: 560px;
  }
}
@media(min-width:1200px){
  .box.box-lg{
    height: 600px;
  }
  .box.box-sm{
    height: 300px;
  }
  .pull-up {
    margin-top: -300px;
    height: 300px!important;
  }
}
@media(min-width:992px) and (max-width: 1199px){
  .box.box-lg{
    height: 485px;
  }
  .box.box-sm{
    height: 242.5px;
  }
  .pull-up {
    margin-top: -242.5px;
    height: 242.5px!important;
  }
  .pics {
    height: 242.5px!important;
  }
  .box.box-instrument .center .content h3{
    font-size: 34px;
  }
  .box.box-class{
    .center .content {
      height: 6.5rem;
    }
    h3{
      font-size: 32px;
    }
    p{
      font-size: 22px;
    }
  }
}
@media(max-width:991px) and (min-width:768px){
  .box.box-lg{
    height: 750px;
  }
  .box.box-sm{
    height: 375px;
  }
  .pull-up {
    margin-top: -375px;
    height: 375px!important;
  }
  .pics {
    height: 375px!important;
  }
  .box .box-hover{
    p{
      font-size: 18px;
    }
    .center .content{
      padding: 0 6.5em;
    }
  }
  .box.box-instrument .center .content {
    height: 2.5rem;
    padding: 0;
  }
  // .box.box-class{
  //   .center .content {
  //   }
  //   h3{
  //     font-size: 28px;
  //   }
  //   p{
  //     font-size: 18px;
  //   }
  // }
}
@media(max-width: 767px){
  .container{
    padding: 0px;
  }
  .box-lg.box-square,.box-rectangle-fat{
    margin-left: auto;
    margin-right: auto;
  }
  .box:hover {
    transform: scale(1);
    box-shadow: none;
  }
  .box.box-instrument {
    .center .content h3{
      font-size: 32px;
    }
    &:hover{
      transform: scale(1);
      box-shadow: none;
    }
  }
  .box.box-teacher:hover{
    transform: scale(1);
    box-shadow: none;
  }
  #myModal2 .modal-dialog .modal-content {
    .modal-header .title{
      font-size: 20px;    
      margin: 0 20px 30px;
    }
    .modal-body{
      .text-wrap {
        margin: 0 20px 30px;
      }
    }
  }
  .box.box-number {
    .center .content{
      height: 12.5em;
    }
    h2 {
      font-size: 36px;
    }
    a.btn{
      opacity: 1;
    }
  }
  .box.box-class{
    .center .content {
    }
    h3{
      font-size: 28px;
    }
    p{
      font-size: 18px;
    }
    &:hover{
      transform: scale(1);
      box-shadow: none;
    }
  }
  .box.box-trolls{
    &:hover{
      transform: scale(1);
      box-shadow: none;
    }
  }
  .box:hover .box-hover {
      opacity: 0;
  }
  .box.active .box-hover{
    opacity: 1;
  }
  // .box .box-hover-black{
  //   display: none;
  // }
}
@media(max-width: 479px){
  .modal-dialog{
    width: 100%;
  }
  .box .box-hover{
    p{
      font-size: 14px;
    }
  } 
  .box.box-instrument {
    .center .content {
      height: 2.5rem;
      padding: 0;
      h3{
        font-size: 30px;
      }
    }
  }
  
  // .box .box-hover-black .center .content {
  //   padding: 0 2.5em;
  // }
  .box.box-number {
    .center .content{
      height: 12.5em;
    }
    h2 {
      font-size: 36px;
    }
  }
  .box.box-class{
    .center .content{
      height: 4.5em;
    }
    h3{
      font-size: 28px;
    }
    p{
      font-size: 18px;
    }
  }
  .box.box-link{
    h4.vice-title {
      margin-bottom: 0px;
    }
    h3{
      margin-top: 5px;
      margin-bottom: 15px;
    }
  }
}

@media(max-width: 375px){
  .modal-dialog .modal-content .modal-body img{
    width: 100%;
    height: auto;
  }
  .box .box-hover{
    .center .content {
      height: 7.5em;
    }
  }
  .box.box-number {
    .center .content{
      height: 11.5em;
    }
    h2 {
      font-size: 40px;
      margin-top: 0px;
    }
  }
  .box.box-instrument .center .content {
    h3{
      font-size: 28px;
    }
  }
}