.background{
  height: 660px;
  background-color: rgb(204, 204, 204);
  padding: 100px 0px;
  background-image: url(../images/index/ossia-main-banner.jpg);
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  .content-wrapper{
    padding-top: 100px;
    margin-left: 150px;
    h1.title{
      margin-top: 30px;
    }
    h3.title{
      margin-top: 20px;
    }
    p.btn-p{
      margin-top: 20px;
      a{
        background-color: #18db4d;
        color: #fff;
        border-radius: 20px;
        border: none;
      }
    }
  }
}
.box {
  .carousel-fade {
    .carousel-inner {
      .item{ 
        height: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        color: #fff;
      } 
    }
    .carousel-control {
      z-index: 2;
    }
  }
  .carousel, .carousel-inner, .carousel-inner .item {
    height: 100%;
  }
  .item:nth-child(1) {
    background-color: #ffa000;
  }
  .item:nth-child(2) {
    background-color: #ffa000;
  }
  .item:nth-child(3) {
    background-color: #ffa000;
  }
}
.box:hover{
  transform:scale(1.05);
  box-shadow: 0 37.125px 70px -12.125px rgba(0,0,0,0.3);
  z-index: 21;
}
.box{
  &.box-1,&.box-2,&.box-6,&.box-8,&.box-9,&.box-13,&.box-14,&.box-15{
    &:hover{
      transform:scale(1);
      box-shadow: none;
    }
  }
}
// .box:hover img{
//     -webkit-transform: scale(1.05);
//     -moz-transform: scale(1.05);
//     -ms-transform: scale(1.05);
//     -o-transform: scale(1.05);
//     transform: scale(1.05);
// }
.box.box-3{
  background-image: url(../images/index/zhinengjiaoshi.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.box.box-4{
  background-image: url(../images/index/wantujiaoshi.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.box.box-7{
  background-image: url(../images/index/wantuyanchu.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.box.box-13{
  img{
    width: 70%;
    height: 70%;
    left: 15%;
    top: 15%;
  }
}
.box.box-14{
  .center .content {
    height: 9.5em;
  }
}       
@media(min-width:992px) and (max-width: 1199px){
  .background {
    height: 600px;
  }
}
@media(min-width: 768px){

}
@media(min-width:768px) and (max-width: 991px){
  .background .content-wrapper {
    margin-left: 120px;
  }
  .box.box-3{
    margin-top: -187.5px;
  }
}
@media(max-width: 767px){
  .background .content-wrapper {
    margin-left: 0px;
    text-align: center;
  }
}
@media(min-width:480px){
  .box.box-3{
    .center .content {
       height: 3.5rem;
    }
  }
}

@media(max-width: 479px){
  .box.box-3{
    .center .content {
       height: 4.5rem;
    }
  }
  .box.box-1{
    .center .content {
       font-size: 14px;
    }
  }
}

@media(max-width: 375px){

}
