.background{
  height: 660px;
  background-color: rgb(204, 204, 204);
  padding: 100px 0px;
  background-image: url(../images/index/ossia-main-banner.jpg);
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  .content-wrapper{
    padding-top: 150px;
    margin-left: 150px;
    h1.title{
      margin-top: 110px;
      font-size: 48px;
      font-weight: 400;
    }
    h3.title{
      margin-top: 25px;
      font-weight: 400;
      font-size: 48px;
    }
    p.btn-p{
      margin-top: 35px;
      a{
        background-color: #18db4d;
        color: #fff;
        border-radius: 20px;
        border: none;
        font-size: 16px;
        padding: 10px 20px;
      }
    }
    img{
      position: relative;
      height: 180px;
      width: auto;
      transition:inherit;
    }
  }
}
.box {
  .carousel-fade {
    .carousel-inner {
      .item{ 
        height: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        color: #fff;
        .center .content{
          padding: 0 4.5em;
        }
      } 
    }
    .carousel-control {
      z-index: 2;
      transition: opacity 0.3s ease-in-out;
      text-shadow:none;
      .iconfont{
        font-size: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -30px;
        margin-left: -20px;
      }
    }
  }
  .carousel, .carousel-inner, .carousel-inner .item {
    height: 100%;
  }
  .item:nth-child(1) {
    background-color: #ffa000;
  }
  .item:nth-child(2) {
    background-color: #ffa000;
  }
  .item:nth-child(3) {
    background-color: #ffa000;
  }
}
.box:hover{
  transform:scale(1.05);
  box-shadow: 0 37.125px 70px -12.125px rgba(0,0,0,0.3);
  z-index: 21;
}
.box{
  &.box-1,&.box-6,&.box-14,&.box-15{
    &:hover{
      transform:scale(1);
      box-shadow: none;
    }
  }
}
// .box:hover img{
//     -webkit-transform: scale(1.05);
//     -moz-transform: scale(1.05);
//     -ms-transform: scale(1.05);
//     -o-transform: scale(1.05);
//     transform: scale(1.05);
// }
.box.box-1{
  h3{
    font-size:  36px;
  }
  .center .content{
    font-size: 18px;
  }
}
.box.box-2{
  
}
// .box.box-4{
//   background-image: url(../images/teacher/bg.png);
//   background-position: center;
//   background-size: cover;
//   background-repeat: no-repeat;
// }
.box.box-8{
  background-image: url(../images/index/shop.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.box.box-16{
  background-image: url(../images/index/wantuyanchu.jpg);
  background-position: center;
  background-position-x:0%;
  background-size: cover;
  background-repeat: no-repeat;
} 
@media(min-width:1200px){
  .box.box-1{
    h3{
      font-size:  30px;
    }
    .center .content{
      font-size: 16px;
      padding: 0 5.5em!important;
    }
  }
} 
@media(min-width:992px) and (max-width: 1199px){
  .background {
    height: 600px;
    .content-wrapper {
      margin-left: 110px;
      padding-top: 130px;
    }
  }
  .box.box-1{
    h3{
      font-size:  30px;
    }
    .center .content{
      font-size: 16px;
    }
  }
}
@media(max-width:991px) and (min-width:768px){
  .box.box-lg{
    height: 375px;
  }
  .box.box-sm{
    height: 187.5px;
  }
  .pull-up {
    margin-top: -187.5px;
    height: 187.5px!important;
  }
  .pics {
    height: 187.5px!important;
  }
  .box.box-instrument .center .content h3 {
    font-size: 24px;
  }
  .box.box-1{
    h3{
      font-size:  30px;
    }
    .center .content{
      font-size: 16px;
    }
  }
  .background .content-wrapper {
    margin-left: 50px;
    img{
      height: 160px;
    }
  }
  .box.box-3{
    margin-top: -187.5px;
  }
  .box.box-class{
    .center .content {
    }
    h3{
      font-size: 28px;
    }
    p{
      font-size: 18px;
    }
  } 
}
@media(max-width: 767px){
  .background .content-wrapper {
    // margin-left: 0px;
    // text-align: center;
    margin-left: 50px;
    img{
      height: 140px;
    }
    h1.title {
      font-size: 40px;
      color: #fff;
    }
    h3.title {
      font-size: 40px;
      color: #fff;
    }
  }
  .background {
    background-position-x: 70%;
  }
  .box.box-2,.box.box-4,.box.box-7,.box.box-8,.box.box-16{
    &:hover{
      transform: scale(1);
      box-shadow: none;
    }
  }
}
@media(min-width: 480px){
  .background {
    .content-wrapper h1.title {
      margin-top: 90px;
    }
  }
}
@media(max-width: 479px){
  .box.box-1{
    h3{
      font-size: 44px;
      font-weight: normal;
    }
    .center .content {
       font-size: 18px;
       padding: 0 3.5em!important;
    }
  }
  .background {
    height: 500px;
    background-position-x: 88%;
    .content-wrapper {
      margin-left: 5%;
      margin-top: 240px;
      height: 110px;
      position: relative;
      padding-top: 0px;
      img{
        height: 110px;
        position: absolute;
        right: 5%;
        bottom: -20px;
        left: inherit;
        top: inherit;
      }
      h1.title {
        font-size: 34px;
        margin-top: 75px;
      }
      h3.title {
        font-size: 34px;
        margin-top: 15px;
      }
      a{
        padding: 6px 12px;
      }
    }
  }
}

@media(max-width: 375px){
  .background {
    background-position-x: 80%;
  }
  .box.box-1{
    .center .content {
       padding: 0 2.5em!important;
    }
  }
}
