//agent计算部分和优惠政策部分表格样式
.agent-counting {
  padding-bottom: 50px;

     .container {
    padding-bottom: 30px;
  }
     h2.title{
    margin-bottom: 30px;
    font-size: 29px;
    font-weight: 300;
  }

    .container p {
    margin-bottom: 25px;
    font-size: 16px;
    color: #999;
  }
     table {
    text-align: center;
    margin-bottom: 30px;
    border-spacing: 0 30px;
    border-collapse: separate;
  }

     .table th{
    border-bottom: none;
    border-top: none!important;
    text-align: center;
    font-size: 24px;
    font-weight: normal;
    position: relative;
    div{
      position: absolute;
      text-align: center;
      width: 95%;
      margin-top: -8px;
    }
    &:first-child{
      border-right: none;
      border-bottom: none;
      padding: 0;
    }
    &:last-child{
      border-right: none;
    }
    div.feature{
      padding: 18px 8px;
      text-align: left;
    }
  }
     .table td {
    border-right: 1px solid #e3e3e3;
    padding: 18px 8px;
    font-size: 14px;
    vertical-align: middle;
    &:first-child{
      border-right: none;
      border-top: none;
      padding: 0;
      vertical-align: top;
    }
    &:last-child{
      border-right: none;
    }
    div.feature{
      border-top: 1px solid #e3e3e3;
      margin-right: 30%;
      padding: 18px 8px;
      text-align: left;
      font-size: 18px;
      color: #000;
    }
  }

}

// 功能对比区域表格样式
.table-contrast {
  display: none;
  background: #e9e9e9;
  padding-bottom: 80px;

  .fa-check {
    cursor: pointer;
    color: #78a300;
  }

  h2.title {
    font-size: 36px;
    margin-bottom: 20px;
    margin-top: 40px;
    font-weight: 300;
  }

  table {
      border-collapse: collapse;
      margin-bottom: 3em;
      width: 100%;
  }

  td, th {
      padding: 8px 8px;
      text-align: center;
      border-right: none;
      border-right: 10px solid #e9e9e9;
  }

  td.err {
    background-color: #e9e9e9;
    color: #fff;
    font-size: 0.75em;
    text-align: center;
    line-height: 1;
  }
  th {
      background-color: rgba(100, 100, 100, 0.6);
      font-weight: bold;
      color: #fff;
      white-space: nowrap;
      border-bottom: none !important;
  }
  th.empty {
    background: transparent;
  }
  th .th-title{
    font-size: 17px;
  }
  td {
      background: #fff;
      border-top: 1px solid #e9e9e9 !important;
      color: rgba(51,51,51,0.8);
      font-size: 14px;
  }
  td.td-title {
    font-size: 15px;
      font-weight: bold;
      color: rgb(51,51,51);
  }

  tbody tr:hover td{
      background-color: rgba(255, 255, 255, 0.3);
  }
  .th1 {
    width: 160px;
  }

}

table .check{
  font-size: 20px;
}
table .x{
  font-size: 24px;
  color: #c3c3c3;
}
table .question{
  font-size: 17px;
  margin-left: 2px;
  vertical-align: middle;
  cursor: pointer;
  color: #B8B8B8;
  &:hover{
    color: #333;
  }
}

.title-margin-b {
  margin-bottom: 38px;
}

/* sticky-header of table appearance 悬浮表头的样式*/
.sticky-wrap {
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  margin: 0 0;
  width: 100%;
}
.sticky-wrap .sticky-thead,
.sticky-wrap .sticky-col,
.sticky-wrap .sticky-intersect {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .125s ease-in-out;
  z-index: 50;
  width: auto; /* Prevent table from stretching to full size */
}
  .sticky-wrap .sticky-thead {
    // box-shadow: 0 0.25em 0.1em -0.1em rgba(0,0,0,.125);
    z-index: 100;
    width: 100%; /* Force stretch */
  }
  .sticky-wrap .sticky-intersect {
    opacity: 1;
    z-index: 150;

  }
    .sticky-wrap .sticky-intersect th {
      background-color: #666;
      color: #eee;
    }
.sticky-wrap td,
.sticky-wrap th {
  box-sizing: border-box;
}

/* Not needed for sticky header/column functionality */
td.user-name {
  text-transform: capitalize;
}
.sticky-wrap.overflow-y {
  overflow-y: auto;
  max-height: 50px;
}


//.table-basic 表格

.table-basic {
  background-color: rgba(255, 255, 255, 0.9);
  color: #333;
  width: 80%;
  margin: 0px auto;
  border-radius: 6px;

  th {
    text-align: center;
    padding: 10px;
  }
  td {
    text-align: center;
    font-size: 14px;
  }
  .fa-check {
    color: rgb(60, 164, 0);
  }
}

@media (max-width:480px) {
  .table-contrast p.text-center {
    font-size: 13px;
  }
  .table-contrast {
    th {
      font-size: 14px;
      font-weight: bold;
      .th-title{
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
  .agent-counting{
    padding-top: 60px;
  }
  .agent-counting table{
    border-spacing:  0px;
  }
  .agent-counting .table th div{
    font-size: 18px;
    margin-top: -28px;
    margin-left: -8px;
  }
  .agent-counting .table td div.feature{
    font-size: 16px;
  }
}
