.btn:hover, .btn:focus, .btn.focus {
    color: #fff;
    text-decoration: none;
}
.vice-background{
	height: 625px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &.teacher-bg{
    background-color: #FFA727;
    background-image: url(../images/trolls/banner.jpg);
  }
}
img{
  position: relative;
  transition:none;
}
.box {
  &.box-1{
    img{
      opacity: 1;
    }
  }
  &.box-2{
    background-color: #ffa000;
    color: #fff;
    .center .content{
      height: 18em;
      text-align: left;
      padding: 0 6.5em;
    }
  }
}
.activity{
  background: url(../images/trolls/bg.jpg);
  background-size: 100%;
  padding-top: 80px;
  padding-bottom: 0px;
  color: #fff;
  .content-wrapper{
    img{
      width: 250px;
      margin-bottom: 30px;
    }
  }
  .message-wrapper{
    .img-wrapper{
      min-height: 360px;
    }
    .text-wrapper{
      text-align: center;
      margin-bottom: 60px;
      min-height: 145px;
      h4{
        font-weight: bold;
      }
      h3{
        margin-top: 10px;
        margin-bottom: 20px;
        font-weight: bold;
      }
      p{
        width: 80%;
        margin: auto;
        min-width: 295px;
      }
    }
  }
  ol{
    padding-left: 45px;
    font-size: 14px;
  }
}
@media(min-width:1200px){
 
}
@media(min-width:992px) and (max-width: 1199px){
  .vice-background {
    height: 505px;
  }
  .box.box-2 .center .content {
    height: 19em;
    padding: 0 4.5em;
  }
}
@media(min-width:768px) and (max-width: 991px){
  .vice-background {
    height: 390px;
  }
  .box.box-lg{
    height: 375px;
  }
  .box.box-sm{
    height: 187.5px;
  }
  .pull-up {
     margin-top: -187.5px; 
     height: 187.5px!important; 
  }
  .box.box-class {
    h3 {
      font-size: 28px;
    }
    p{
      font-size: 18px;
    }
  }
  .box.box-instrument{
    height: 375px;
  }
  .box.box-2 .center .content {
    height: 20em;
    padding: 0 2.5em;
    font-size: 14px;
  }
  .activity{
    .content-wrapper{
      img{
        width: 220px;
      }
    }
    .message-wrapper{
      .img-wrapper{
        min-height: 280px;
      }
      .text-wrapper{
        p{
          width: 90%;
        }
      }
    }
  }
}
@media(max-width: 768px){
  .activity{
    .content-wrapper{
      img{
        width: 200px;

      }
    }
    .message-wrapper{
      .img-wrapper{
        min-height: auto;
        img{
          max-width: 100%;
          width: 300px;
          display: block;
          margin: auto;
        }
      }
      .text-wrapper{
        min-height: inherit;
        .vice-title{
          margin-top: 0px;
        }
        margin-bottom: 30px;
      }
    }
  }
}
@media(min-width:480px) and (max-width: 768px){
  .box.box-2 .center .content {
      p{
        margin-bottom: 20px;
      }
  }
  .activity{ 
    .message-wrapper{
      .img-wrapper{
      }
      .text-wrapper{
        p{
          width: 70%;
          max-width: 295px;
        }
      }
    }
  }
}
@media(min-width:480px) and (max-width: 600px){
  .box.box-2 .center .content {
      padding: 0 2.5em;
  }
}

@media(max-width: 479px){
  .vice-background.teacher-bg{
      background-image: url(../images/trolls/banner-xxs.png);
  }
  .box.box-2{
    .center{
      position: relative;
      left: inherit;
      right: inherit;
      top: inherit;
      bottom: inherit;
    }
    .center .content{
      padding: 50px 30px;
      height: auto;
      p:last-child{
        margin-bottom: 0;
      }
    }
  }
}

@media(max-width: 375px){
  
}