
<div class="explorer-list">
  <div class="swing-logo">
      <i class="icon iconfont iconLogo">&#xe601;</i>
  </div>
	<div class="explorer-remind">
      <p class="para1">您的浏览器版本过低</p>
		  <p class="para2">请使用下列浏览器访问我们的网站</p>
	</div>
	<div class="explorer-box">
		<a href="http://www.google.cn/intl/zh-CN/chrome/browser/desktop/index.html" target="_blank" class="explorer-link">
			<i class="iconfont">&#xe632;</i>
			<p class="explorer-title">Chrome</p>
		</a>
	</div>
	<div class="explorer-box">
		<a href="https://www.mozilla.org/zh-CN/firefox/new/" target="_blank" class="explorer-link">
			<i class="iconfont">&#xe633;</i>
			<p class="explorer-title">Firefox</p>
		</a>
	</div>
	<div class="explorer-box">
		<a href="http://ie.sogou.com/" target="_blank" class="explorer-link">
			<i class="iconfont">&#xe636;</i>
			<p class="explorer-title">搜狗浏览器</p>
		</a>
	</div>
	<div class="explorer-box">
		<a href="http://www.opera.com/zh-cn" target="_blank" class="explorer-link">
			<i class="iconfont">&#xe630;</i>
			<p class="explorer-title">Opera</p>
		</a>
	</div>
  <div class="explorer-box">
    <a href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie" target="_blank" class="explorer-link">
      <i class="iconfont">&#xe634;</i>
      <p class="explorer-title">Internet Explorer<br/><small>(9.0及以上)</small></p>
    </a>
  </div>
</div>
<div class="bottom-bar-ie">
    <div class="container">
        <small class="copyright">©2016 12swing inc. 版权所有. 隐私条款 | 使用条款 玩兔（北京）有限公司 备案号: 京ICP备12345678号-1</small>
    </div>
</div>