<div class="footer-wrapper">    
    <div class="container">
        <div class="row">
            <footer class="footer" id="footer">
                <div class="row-fluid">
                    <div class="span4">
                        <p>
                            <span class="logo">frog</span>
                        </p>
                        <p>引领未来体验的设计与革新。</p>
                        <ul class="studios clearfix">
                            <li class="first"><a href="">霓虹</a></li>
                            <li><a href="">霓虹</a></li>
                            <li><a href="">霓虹</a></li>
                            <li class="last"><a href="">霓虹</a></li>
                        </ul>                    
                    </div>
                    <div class="span3 offset1">
                        <h3>霓虹霓虹</h3>
                        <ul class="studios clearfix">
                            <li class="first"><a href="">霓虹</a></li>
                            <li><a href="">霓虹</a></li>
                            <li><a href="">霓虹</a></li>
                            <li><a href="">霓虹</a></li>
                            <li><a href="">霓虹</a></li>
                            <li><a href="">霓虹</a></li>
                            <li><a href="">霓虹</a></li>
                            <li class="last"><a href="">霓虹</a></li>
                        </ul>                
                    </div>       
                    <div class="span3 offset1">
                        <h3>联系我们</h3>                  
                        <ul class="social">
                            <li class="sinaweibo"><a href="">Sina Weibo</a></li>
                            <li class="youku"><a href="">Youku</a></li>
                            <li class="linkedin"><a href="">LinkedIn</a></li>
                            <li class="wechat"><a href="" class="fancybox">wechat</a></li>
                        </ul>
                    </div>
                    </div>
                    <p class="legal">霓虹霓虹霓虹霓虹霓虹霓虹霓虹
                        <a href="">霓虹霓虹</a> | <a href="">霓虹霓虹</a>霓虹霓虹霓虹霓虹霓虹霓虹霓虹霓虹霓虹霓虹 
                    </p>
                </div>
            </footer>
        </div>
    </div>
</div>
