<div class="footer-wrapper">    
    <div class="container">
        <div class="row">
            <footer class="footer" id="footer">
                <div class="row-fluid">
                    <div class="span4">
                        <p>
                            <span class="logo">frog</span>
                        </p>
                        <p>引领未来体验的设计与革新。</p>
                        <ul class="studios clearfix">
                            <li class="first"><a href="http://www.frogdesign.cn/contact/new-business">合作机会</a></li>
                            <li><a href="http://www.frogdesign.cn/news-views">新闻 + 观点</a></li>
                            <li><a href="http://www.frogdesign.cn/contact/media">媒体联络</a></li>
                            <li class="last"><a href="http://www.frogdesign.cn/careers">招贤纳士</a></li>
                        </ul>                    
                        <ul class="language-switch-area">
                            <li><a href="http://www.frogdesign.com">English</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://www.frogdesign.de">DEUTSCH</a></li>                    
                        </ul> 
                    </div>
                    <div class="span3 offset1">
                        <h3>工作室</h3>
                        <ul class="studios clearfix">
                            <li class="first"><a href="http://www.frogdesign.cn/contact/amsterdam.html">阿姆斯特丹</a></li>
                            <li><a href="http://www.frogdesign.cn/contact/austin.html">奥斯汀</a></li>
                            <li><a href="http://www.frogdesign.cn/contact/boston.html">波士顿</a></li>
                            <li><a href="http://www.frogdesign.cn/contact/london.html">伦敦</a></li>
                            <li><a href="http://www.frogdesign.cn/contact/milan.html">米兰</a></li>
                            <li><a href="http://www.frogdesign.cn/contact/munich.html">慕尼黑</a></li>
                            <li><a href="http://www.frogdesign.cn/contact/new-york.html">纽约</a></li>
                            <li><a href="http://www.frogdesign.cn/contact/san-francisco.html">旧金山</a></li>
                            <li><a href="http://www.frogdesign.cn/contact/seattle.html">西雅图</a></li>
                            <li><a href="http://www.frogdesign.cn/contact/shanghai.html">上海</a></li>
                            <li class="last"><a href="http://www.frogdesign.cn/contact/singapore.html">新加坡</a></li>
                        </ul>                
                    </div>       
                    <div class="span3 offset1">
                        <h3>其他地区</h3>
                        <ul class="studios clearfix">
                            <li class="first"><a href="http://www.frogdesign.cn/contact#additional">迪拜</a></li>
                            <li><a href="http://www.frogdesign.cn/contact#additional">利雅得</a></li>
                            <li><a href="http://www.frogdesign.cn/contact#additional">首尔</a></li>
                            <li><a href="http://www.frogdesign.cn/contact#additional">悉尼</a></li>
                            <li><a href="http://www.frogdesign.cn/contact#additional">以色列特拉维夫</a></li>
                            <li class="last"><a href="http://www.frogdesign.cn/contact#additional">东京</a></li>
                        </ul>                    
                        <ul class="social">
                            <li class="sinaweibo"><a href="http://www.weibo.com/frogchina/">Sina Weibo</a></li>
                            <li class="youku"><a href="http://i.youku.com/frogdesign">Youku</a></li>
                            <li class="linkedin"><a href="http://www.linkedin.com/company/163904">LinkedIn</a></li>
                            <li class="wechat"><a href="/sites/all/themes/bootstrap/frogweb6/css/images/QRcode.jpg" class="fancybox">wechat</a></li>
                        </ul>
                    </div>
                    </div>
                    <p class="legal">© 2016 frog design inc. 版权所有. 
                        <a href="http://www.frogdesign.cn/privacy-policy.html">隐私条款</a> | <a href="http://www.frogdesign.cn/terms-of-use.html">使用条款</a> 富乐工业设计（上海）有限公司 备案号: 沪ICP备14032046号-1 
                    </p>
                </div>
            </footer>
        </div>
    </div>
</div>
