<div class="footer-wrapper">    
    <div class="container">
        <div class="row">
            <footer class="footer" id="footer">
                <div class="row-fluid">
                    <div class="span4">
                        <p><span class="logo">frog</span></p>
                        <p>引领新一代平台教育</p>
                        <ul class="studios clearfix">
                            <li class="first"><a href="">音乐教师</a></li>
                            <li><a href="">美术教师</a></li>
                            <li><a href="">新闻</a></li>
                            <li class="last"><a href="">招聘</a></li>
                        </ul>                    
                    </div>
                    <div class="span3 offset1">
                        <h3>友情链接</h3>
                        <ul class="studios clearfix">
                            <li class="first"><a href="">网易云音乐</a></li>
                            <li><a href="">虾米音乐</a></li>
                            <li><a href="">QQ音乐</a></li>
                            <li><a href="">百度音乐</a></li>
                            <li><a href="">音悦台</a></li>
                            <!-- <li><a href="">霓虹</a></li>
                            <li><a href="">霓虹</a></li>
                            <li class="last"><a href="">霓虹</a></li> -->
                        </ul>                
                    </div>       
                    <div class="span3 offset1">
                        <h3>关于我们</h3>                  
                        <ul class="social">
                            <li class="sinaweibo"><a href="">Sina Weibo</a></li>
                            <li class="youku"><a href="">Youku</a></li>
                            <li class="linkedin"><a href="">LinkedIn</a></li>
                            <li class="wechat"><a href="" class="fancybox">wechat</a></li>
                        </ul>
                    </div>
                    </div>
                    <p class="legal">
                        ©2016 12swing inc. 版权所有. 隐私条款 | 使用条款 玩兔（北京）有限公司 备案号: 京ICP备12345678号-1 
                    </p>
                </div>
            </footer>
        </div>
    </div>
</div>
