<header id="navbar" role="banner">
    <div class="container">
        <div class="row">
            <div class="nav-mask"></div>
            <nav class="main desktop">
                <div class="wrapper">
                    <a class="logo" href="javascript:;"></a>
                    <section id="block-menu-block-3" class="block block-menu-block">
                        <div class="menu-block-wrapper menu-block-3">
                            <ul class="menu nav nav-left">
                                <!-- <li class="active"><a href="../index.html">主页</a></li> -->
                                <li><a href="../index.html">主页</a></li>
                                <li><a href="">作品</a></li>
                                <li><a href="">平台</a></li>
                                <li><a href="" data-toggle="modal" data-target="#myModal">登录 / 注册</a></li>
                            </ul>
                            <!-- <ul class="menu nav nav-right hidden-md hidden-sm hidden-xs" style="right: 80px; top: 0px; display: block;">
                                
                            </ul> -->
                        </div>
                    </section> <!-- /.block -->                   
                </div>
            </nav>
        </div>
    </div>
</header>
    
<!-- <div class="global-header-overlay"></div> -->
