<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  	<div class="modal-dialog" role="document">
    	<div class="modal-content">
        	<!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
          <div class="modal-header">
            <h3>玩兔微信服务号</h3>
            <div class="icon-wrapper">
              <p><i class="iconfont">&#xe609;</i><span>课程报名</span></p>
              <p><i class="iconfont">&#xe60a;</i><span>教学服务</span></p>
              <p><i class="iconfont">&#xe60b;</i><span>最新消息</span></p>
            </div>
          </div>
      		<div class="modal-body">
        		<img src="images/qrcode.jpg">
        		<p class="sub_title">微信搜索：玩兔兴趣</p>
        		<!-- <div class="extension">
                    <div class="item">
                        <i class="icon web_wechat_login_phone_icon"></i>
                        <div class="cont">
                            <h4 class="title">登录手机微信</h4>
                            <p class="desc">
                                手机上<a ng-if="lang == 'zh_CN'" href="http://weixin.qq.com/cgi-bin/readtemplate?t=weixin_download_list&amp;lang=zh_CN" target="_blank" class="ng-scope">安装</a>并登录微信</p>
                        </div>
                    </div>
                    <div class="item">
                        <i class="icon web_wechat_login_scan_icon"></i>
                        <div class="cont">
                            <h4 class="title">进入“扫一扫”</h4>
                            <p class="desc">从“发现”，进入“扫一扫”，扫码登录微信网页版</p>
                        </div>
                    </div>
                </div> -->
      		</div>
    	</div>
  	</div>
</div>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  	<div class="modal-dialog" role="document">
    	<div class="modal-content">
    		  <div class="modal-header">
        		<h2 class="title">アプリ累計ダウンロード数2億7000万以上</h2>
        	</div>
      		<div class="modal-body">
        		<div class="text-wrap"> 
              <p class="text">アプリの開発に力を入れており、「Yahoo! JAPAN」や「Yahoo!天気」「Yahoo!乗換案内」など、App StoreやGoogle Playのランキングで1位を獲得したアプリも多数あります。</p> 
              <p class="note">※2015年3月末時点</p>
            </div>
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      		</div>
    	</div>
  	</div>
</div>		