<div class="bdsharebuttonbox hidden-xs" data-tag="share_1">
    <a class="bds_weixin" data-cmd="weixin">
        <!-- <i class="iconfont">&#xe60d;</i> -->
        <!-- <div class="panel-weixin">
            <img src="http://s.jiathis.com/qrcode.php?url=http://36kr.com/p/5046645.html" alt="">
            <h6>打开微信“扫一扫”，打开网页后点击屏幕右上角分享按钮</h6>
        </div> -->
    </a>
    <a class="bds_tsina" data-cmd="tsina"><!-- <i class="iconfont">&#xe60c;</i> --></a>
    <a class="bds_tqq" data-cmd="sqq"><!-- <i class="iconfont">&#xe65f;</i> --></a>
    <a class="top_controll"><i class="fa fa-angle-up"></i></a>
</div>