{% extends 'base/_layout.html' %}

{% block content %}
<div class="wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div id="carousel1" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3000">
				    <!-- Carousel items -->
				    <div class="carousel-inner">
				        <div class="active item">
				        	<div class="background">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-lg-offset-0 col-md-offset-0 col-sm-offset-0">
									<div class="content-wrapper">
					                	<h1 class="title">404</h1>
					                    <h3 class="title">未找到页面</h3>
						                <p class="btn-p">
						                    <a href="index.html" class="btn btn-large btn-solid">返回首页</a>
						                </p>
						            </div>
					            </div>
	            			</div>
				        </div>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>
	
{% endblock %}

{% block scripts %}
    {% parent %}
    <!-- build:js /scripts/index.js -->
    <script type="text/javascript" src="/scripts/test.js"></script>
    <!-- endbuild -->
{% endblock %}
		