{% extends 'base/_layout.html' %}

{% block content %}
<div class="wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div id="carousel1" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3000">
				    <div class="carousel-inner">
				        <div class="active item">
				        	<div class="background">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-lg-offset-0 col-md-offset-0 col-sm-offset-0">
									<div class="content-wrapper">
						               	<h1 class="title text-center">兴趣，是最好的老师</h1>
						               	<h3>光之教堂</h3>
						               	<p>
						               		安藤忠雄，日本建筑师，1995 年普利兹克奖得主。<br class="hidden-xxs">
						               		在成为建筑师前，曾当过职业拳手（成绩：23 战 13 胜 3 败 7 平手）。<br class="hidden-xxs">
						               		其后在没有经过正统训练下成为专业的建筑师。
						               	</p>
						            </div>
					            </div>
	            			</div>
				        </div>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="box-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12 col-xxs-12 col-md-offset-0 col-sm-offset-0 col-xs-12-offset-0 col-xxs-12-offset-0">
				<div class="box box-lg box-square br-white box-1">
			        <div class="item">
			        	<div class="center">
			        		<div class="center content">
			        			<p>2016 年，北京玩兔思闻科技有限公司成立。</p>
			        			<p>一支由教师、工程师、设计师、年轻人组成的团队。想用互联网技术和全新的商业模式为中国兴趣教育产业做点什么……</p>
			        		</div>
						</div>
			        </div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 col-xxs-12 col-md-offset-0 col-sm-offset-0 col-xs-12-offset-0 col-xxs-12-offset-0">
				<div class="box box-lg box-square box-2">
			        <div class="item">
			        	<div class="center">
			        		<div class="center content">
			        			<p>媒体联络：marketing@12swing.com</p>
			        			<p>简历投递：hr@12swing.com</p>
			        		</div>
						</div>
			        </div>
				</div>
			</div>
		</div>
	</div>
</div>

	{% block modal %}
	    {% include "base/_modal.html" %}
	{% endblock %}
	
{% endblock %}

{% block scripts %}
    {% parent %}
    <!-- build:js /scripts/about.js -->
    <script type="text/javascript" src="/scripts/about.js"></script>
    <!-- endbuild -->
{% endblock %}
		