{% extends 'base/_layout.html' %}

{% block content %}
<div class="wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div id="carousel1" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3000">
				    <!-- <ol class="carousel-indicators">
				        <li data-target="#carousel1" data-slide-to="0" class="active"></li>
				        <li data-target="#carousel1" data-slide-to="1"></li>
				        <li data-target="#carousel1" data-slide-to="2"></li>
				    </ol> -->
				    <!-- Carousel items -->
				    <div class="carousel-inner">
				        <div class="active item">
				        	<div class="background">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-lg-offset-0 col-md-offset-0 col-sm-offset-0">
									<div class="content-wrapper">
										<!-- <h1 class="title">你的家</h1>
					                    <h3 class="title">多了一个音乐家</h3> -->
					                	<!-- <h1 class="title">他 她</h1>
					                    <h3 class="title">的兴趣，也许是音乐</h3>
						                <p class="btn-p">
						                    <a href="" class="btn btn-large btn-solid" data-toggle="modal" data-target="#myModal">12元一对一试听课</a>
						                </p> -->
						            </div>
					            </div>
	            			</div>
				        </div>
				        <!-- <div class="item">
				        	<div class="background">
								<div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 col-lg-offset-0 col-md-offset-0 col-sm-offset-0">
									<div class="content-wrapper">
					                	<h1 class="title">他 她</h1>
					                    <h3 class="title">的兴趣，也许是音乐</h3>
						                <p class="btn-p">
						                    <a href="" class="btn btn-large btn-solid" data-toggle="modal" data-target="#myModal">12元一对一试听课</a>
						                </p>
						            </div>
					            </div>
	            			</div>
				        </div>
				        <div class="item">
				        	<div class="background">
								<div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 col-lg-offset-0 col-md-offset-0 col-sm-offset-0">
									<div class="content-wrapper">
					                	<h1 class="title">他 她</h1>
					                    <h3 class="title">的兴趣，也许是音乐</h3>
						                <p class="btn-p">
						                    <a href="" class="btn btn-large btn-solid" data-toggle="modal" data-target="#myModal">12元一对一试听课</a>
						                </p>
						            </div>
					            </div>
	            			</div>
				        </div> -->
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="box-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-xs-12 col-xxs-12 title-sec">
				<h3 class="title text-center" style="margin-bottom:20px;">相关课程</h3>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-6 col-md-offset-0 col-sm-offset-0">
				<div class="box box-sm box-square box-16 box-instrument box-piano">
					<div class="type"><span>钢琴</span></div>
					<a href="piano.html">
						<div class="box-content center">
							<div class="center content">
			        			<h3>PIANO</h3>
			        		</div>
						</div>
					</a>
					<img src="images/index/piano.svg">				
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-6 col-md-offset-0 col-sm-offset-0">
				<div class="box box-sm box-square box-17 box-instrument box-guitar">
					<div class="type"><span>吉他</span></div>
					<a href="guitar.html">
						<div class="box-content center">
							<div class="center content">
			        			<h3>GUITAR</h3>
			        		</div>
						</div>
					</a>
					<img src="images/index/guitar.svg">	
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-6 col-md-offset-0 col-sm-offset-0">
				<div class="box box-sm box-square box-18 box-instrument box-violin">
					<div class="type"><span>小提琴</span></div>
					<a href="violin.html">
						<div class="box-content center">
							<div class="center content">
			        			<h3>VIOLIN</h3>
			        		</div>
						</div>
					</a>
					<img src="images/index/violin.svg">
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-6 col-md-offset-0 col-sm-offset-0">
				<div class="box box-sm box-square box-19 box-instrument box-drum">
					<div class="type"><span>架子鼓</span></div>
					<!-- <a href="saxophone.html"> -->
					<a href="drum.html">
						<div class="box-content center">
							<div class="center content">
			        			<h3>DRUMS</h3>
			        		</div>
						</div>
					</a>
					<img src="images/index/drum.svg">	
				</div>
			</div>
		</div>
	</div>
</div>

	{% block modal %}
	    {% include "base/_modal.html" %}
	{% endblock %}

{% endblock %}

{% block scripts %}
    {% parent %}
    <!-- build:js /scripts/art.js -->
    <script type="text/javascript" src="/scripts/drum.js"></script>
    <!-- endbuild -->
{% endblock %}
		