{% extends 'base/_layout.html' %}

{% block content %}
<div class="wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="vice-background drum-bg carousel">

				</div>
			</div>
		</div>
	</div>
</div>

<div class="box-wrapper" id="myTabContent">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-12-offset-0">
				<div class="box box-lg box-square br-white box-1">
			        <div class="item">
			        	<div class="center">
			        		<div class="center content">
			        			<h1>DRUMS</h1>
			        			<h2 class="vice-title">爵士鼓</h2>
			        			<a href="" class="btn" data-toggle="modal" data-target="#myModal">免费试听报名</a>
			        		</div>
			        		<img src="images/index/drum.svg">
						</div>
			        </div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-12-offset-0">
				<div class="box box-lg box-square box-2">
			        <div class="item">
			        	<div class="center">
			        		<div class="center content">
			        			玩兔爵士鼓系列课程，使每一个学员的左右脑得到最大程度的开发，使四肢的协调性得到增强，培养丰富而独特的表现形式，是了解和学习各种音乐风格的最佳途径。快乐学习赏识教育，玩兔注重由兴趣激发学员快乐学习，培养学习的自发性，让每一个学员自发地释放内心所具有的音乐天性。
			        		</div>
						</div>
			        </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="box box-sm box-square br-blue box-3">
					<a href="drum.html" target="_blank">
						<div class="box-content">
							<h3 class="title">一对一</h3>
							<p>一对一跟踪辅导，通过专业的规划掌握学员各个阶段的学习节奏，循序渐进，逐步提升，更灵活、更具有针对性。</p>
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="box box-sm box-square br-blue-dark box-4">
					<!-- <div class="box-hover box-hover-black">
					</div> -->
					<div class="box-content">
						<h3 class="title">乐队组合</h3>
						<p>一对一跟踪辅导，通过专业的规划掌握学员各个阶段的学习节奏，循序渐进，逐步提升，更灵活、更具有针对性。</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="box box-sm box-square br-blue box-5">
					<div class="box-content">
						<h3 class="title">智能乐器</h3>
						<p>一对一跟踪辅导，通过专业的规划掌握学员各个阶段的学习节奏，循序渐进，逐步提升，更灵活、更具有针对性。</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="box box-sm box-square br-blue-dark box-6">
					<!-- <div class="box-hover box-hover-black">
					</div> -->
					<a href="#">
						<div class="box-content">
							<h3 class="title">四肢锻炼</h3>
							<p>一对一跟踪辅导，通过专业的规划掌握学员各个阶段的学习节奏，循序渐进，逐步提升，更灵活、更具有针对性。</p>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="box box-sm br-white box-7 box-link">
					<div class="box-content">
						<div class="col-md-4">
							<h4 class="vice-title">drums course 01</h4>
							<h3>爵士鼓基础入门</h3>
						</div>
						<div class="col-md-3">
							<ul>
								<li>年龄段：全年龄段</li>
								<li>乐器：罗兰电子鼓</li>
								<li>课时数：12/24/48 节</li>
							</ul>
						</div>
						<div class="col-md-5">
							<p>玩兔爵士鼓系列课程，使每一个学员的左右脑得到最大程度的开发，使四肢的协调性得到增强，培养丰富而独特的表现形式，是了解和学习各种音乐风格的最佳途径。</p>
						</div>
						<a href="" data-toggle="modal" data-target="#myModal">免费试听报名</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="box box-sm box-8 box-link">
					<div class="box-content">
						<div class="col-md-4">
							<h4 class="vice-title">drums course 02</h4>
							<h3>爵士鼓进阶训练</h3>
						</div>
						<div class="col-md-3">
							<ul>
								<li>年龄段：全年龄段</li>
								<li>乐器：罗兰电子鼓</li>
								<li>课时数：12/24/48 节</li>
							</ul>
						</div>
						<div class="col-md-5">
							<p>玩兔爵士鼓系列课程，使每一个学员的左右脑得到最大程度的开发，使四肢的协调性得到增强，培养丰富而独特的表现形式，是了解和学习各种音乐风格的最佳途径。</p>
						</div>
						<a href="" data-toggle="modal" data-target="#myModal">免费试听报名</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="box box-sm br-white box-9 box-link">
					<div class="box-content">
						<div class="col-md-4">
							<h4 class="vice-title">drums course 03</h4>
							<h3>爵士鼓进阶训练</h3>
						</div>
						<div class="col-md-3">
							<ul>
								<li>年龄段：全年龄段</li>
								<li>乐器：罗兰电子鼓</li>
								<li>课时数：12/24/48 节</li>
							</ul>
						</div>
						<div class="col-md-5">
							<p>玩兔爵士鼓系列课程，使每一个学员的左右脑得到最大程度的开发，使四肢的协调性得到增强，培养丰富而独特的表现形式，是了解和学习各种音乐风格的最佳途径。</p>
						</div>
						<a href="" data-toggle="modal" data-target="#myModal">免费试听报名</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="box box-sm box-square box-10">
					<div class="type"><span>智能教室</span></div>
					<a href="#">
						<div class="box-content center">
							<div class="center content">
			        			<h3>天津</h3>
			        			<p>西丨南丨角</p>
			        		</div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="box box-sm box-square br-white box-11">
					<img src="images/index/tran.svg">
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-12-offset-0">
				<div class="box box-lg box-square box-12 box-number">
					<div class="type"><span>限量抢购</span></div>
					<div class="item">
			        	<div class="center">
			        		<div class="center content">
			        			<h2>1对1试听课<br>12元两节</h3>
			        			<a href="javascript:;" class="btn" data-toggle="modal" data-target="#myModal">马上预约</a>
			        		</div>
			        		<img src="images/index/12.svg">
						</div>
			        </div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-12-offset-0">
				<div class="box box-lg box-square br-white box-13">
			        <div class="item">
		        		<img src="images/drum/people.png">
			        </div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="box box-sm box-rectangle-fat br-white box-14">
					<a href="drum.html" target="_blank">
						<div class="box-content">
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 title-sec">
				<h3 class="title text-center" style="margin-bottom:20px;">其他乐器</h3>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 col-md-offset-0 col-sm-offset-0">
				<div class="box box-sm box-square box-16 box-instrument box-piano">
					<div class="type"><span>钢琴</span></div>
					<a href="piano.html">
						<div class="box-content center">
							<div class="center content">
			        			<h3>PIANO</h3>
			        		</div>
						</div>
					</a>
					<img src="images/index/piano.svg">				
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 col-md-offset-0 col-sm-offset-0">
				<div class="box box-sm box-square box-17 box-instrument box-guitar">
					<div class="type"><span>吉他</span></div>
					<a href="guitar.html">
						<div class="box-content center">
							<div class="center content">
			        			<h3>GUITAR</h3>
			        		</div>
						</div>
					</a>
					<img src="images/index/guitar.svg">	
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 col-md-offset-0 col-sm-offset-0">
				<div class="box box-sm box-square box-18 box-instrument box-saxophone">
					<div class="type"><span>萨克斯</span></div>
					<a href="saxophone.html">
						<div class="box-content center">
							<div class="center content">
			        			<h3>SAXOPHONE</h3>
			        		</div>
						</div>
					</a>
					<img src="images/index/saxophone.svg">	
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 col-md-offset-0 col-sm-offset-0">
				<div class="box box-sm box-square box-19 box-instrument box-violin">
					<div class="type"><span>小提琴</span></div>
					<a href="violin.html">
						<div class="box-content center">
							<div class="center content">
			        			<h3>VIOLIN</h3>
			        		</div>
						</div>
					</a>
					<img src="images/index/violin.svg">
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  	<div class="modal-dialog" role="document">
    	<div class="modal-content">
        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      		<div class="modal-body">
        		<img src="images/qrcode.jpg">
        		<p class="sub_title">扫描二维码登录微信</p>
        		<div class="extension">
                    <div class="item">
                        <i class="icon web_wechat_login_phone_icon"></i>
                        <div class="cont">
                            <h4 class="title">登录手机微信</h4>
                            <p class="desc">
                                手机上<!-- ngIf: lang == 'zh_CN' --><a ng-if="lang == 'zh_CN'" href="http://weixin.qq.com/cgi-bin/readtemplate?t=weixin_download_list&amp;lang=zh_CN" target="_blank" class="ng-scope">安装</a><!-- end ngIf: lang == 'zh_CN' --><!-- ngIf: lang == 'zh_TW' --><!-- ngIf: lang != 'zh_CN' && lang != 'zh_TW' -->并登录微信</p>
                        </div>
                    </div>
                    <div class="item">
                        <i class="icon web_wechat_login_scan_icon"></i>
                        <div class="cont">
                            <h4 class="title">进入“扫一扫”</h4>
                            <p class="desc">从“发现”，进入“扫一扫”，扫码登录微信网页版</p>
                        </div>
                    </div>
                </div>
      		</div>
    	</div>
  	</div>
</div>	
{% endblock %}

{% block scripts %}
    {% parent %}
    <!-- build:js /scripts/drum.js -->
    	<script type="text/javascript" src="/scripts/drum.js"></script>
    <!-- endbuild -->
{% endblock %}