{% extends 'base/_layout.html' %}

{% block content %}
<div class="wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="vice-background guitar-bg carousel">

				</div>
			</div>
		</div>
	</div>
</div>

<div class="box-wrapper" id="myTabContent">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-12 col-xs-12 col-xxs-12 col-md-offset-0 col-sm-offset-0 col-xs-12-offset-0 col-xxs-12-offset-0">
				<div class="box box-lg box-square br-white box-1">
			        <div class="item">
			        	<div class="center">
			        		<div class="center content">
			        			<h1>GUITAR</h1>
			        			<h2 class="vice-title">吉他</h2>
			        			<a href="" class="btn" data-toggle="modal" data-target="#myModal">免费试听报名</a>
			        			<a href="app注册" class="btn weixin">免费试听报名</a>
			        		</div>
			        		<img src="images/index/guitar.svg">
						</div>
			        </div>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12 col-xxs-12 col-md-offset-0 col-sm-offset-0 col-xs-12-offset-0 col-xxs-12-offset-0">
				<div class="box box-lg box-square box-2">
			        <div class="item">
			        	<div class="center">
			        		<div class="center content">
			        			玩兔吉他系列课程，更加注重加强学员在现代音乐中对节奏，视唱，弹唱、和声及旋律多项技能的认知与掌握，培养学员的综合音乐素养及合作意识，掌控音乐的大局观。大师名曲练习，难点细节的掌握，结合玩兔先进现代化的教学体系及完美教具，无论是中世纪音乐还是现代指弹，从零基础到专业水准，只要你喜欢，成为自己最好的心灵歌者，没有什么不可以。
			        		</div>
						</div>
			        </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
				<div class="box box-sm box-square br-guitar box-3">
					<div class="box-content">
						<img src="images/index/guitar.svg" class="hidden-lg hidden-md hidden-sm hidden-xs only-visable-xxs">
						<div class="item">
					        <div class="center">
								<div class="center content">
									<h3 class="title">专属乐团</h3>
									<p>
										通过一段时间的学习，玩兔会将优秀学员组成小乐团，并由学员自己命名，由个人兴趣转化成集体荣誉，排练、演出的每一个精彩瞬间。
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
				<div class="box box-sm box-square br-guitar-dark box-4">
					<div class="box-content">
						<img src="images/index/guitar.svg" class="hidden-lg hidden-md hidden-sm hidden-xs only-visable-xxs">
						<div class="item">
				        	<div class="center">
				        		<div class="center content">
									<h3 class="title">不同风格</h3>
									<p>根据不同学员的音乐诉求，玩兔提供了民谣、古典、指弹、尤克里里等更加全方位的风格体系教学。</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
				<div class="box box-sm box-square br-guitar box-5">
					<div class="box-content">
						<img src="images/index/guitar.svg" class="hidden-lg hidden-md hidden-sm hidden-xs only-visable-xxs">
						<div class="item">
				        	<div class="center">
				        		<div class="center content">
									<h3 class="title">私人订制</h3>
									<p>玩兔打破传统、创新的教学理念、独特的教学方法，根据自身特点制定培训计划及上课周期、时间灵活、针对性训练。</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
				<div class="box box-sm box-square br-guitar-dark box-6">
					<div class="box-content">
						<img src="images/index/guitar.svg" class="hidden-lg hidden-md hidden-sm hidden-xs only-visable-xxs">
						<div class="item">
				        	<div class="center">
				        		<div class="center content">
									<h3 class="title">展现自我</h3>
									<p>定期的活动演出，充分给予学员展现自我的舞台，更多的吉他直播课程、名师视频教学助你专业进阶。</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="box box-sm br-white box-7 box-link">
					<div class="box-content">
						<div class="col-md-4 col-sm-12 col-xs-12 col-xxs-12">
							<h4 class="vice-title">GUITAR COURSE 01</h4>
							<h3>玩兔尤克里里</h3>
						</div>
						<div class="col-md-3 col-sm-5 col-xs-5 col-xxs-12">
							<ul>
								<li>年龄段：全年龄段</li>
								<li>乐器：吉他</li>
								<li>课时数：12/24/48 节</li>
							</ul>
						</div>
						<div class="col-md-5 col-sm-7 col-xs-7 col-xxs-12">
							<p>玩兔吉他系列课程，使每一个学员的左右脑得到最大程度的开发，使四肢的协调性得到增强，培养丰富而独特的表现形式，是了解和学习各种音乐风格的最佳途径。</p>
						</div>
						<a href="" data-toggle="modal" data-target="#myModal" class="hidden-xxs">免费试听报名</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="box box-sm box-8 box-link">
					<div class="box-content">
						<div class="col-md-4 col-sm-12 col-xs-12 col-xxs-12">
							<h4 class="vice-title">GUITAR COURSE 02</h4>
							<h3>玩兔民谣吉他入门</h3>
						</div>
						<div class="col-md-3 col-sm-5 col-xs-5 col-xxs-12">
							<ul>
								<li>年龄段：8-12，13-17</li>
								<li>乐器：吉他</li>
								<li>课时数：12/24/48 节</li>
							</ul>
						</div>
						<div class="col-md-5 col-sm-7 col-xs-7 col-xxs-12">
							<p>玩兔吉他系列课程，使每一个学员的左右脑得到最大程度的开发，使四肢的协调性得到增强，培养丰富而独特的表现形式，是了解和学习各种音乐风格的最佳途径。</p>
						</div>
						<a href="" data-toggle="modal" data-target="#myModal" class="hidden-xxs">免费试听报名</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="box box-sm br-white box-9 box-link">
					<div class="box-content">
						<div class="col-md-4 col-sm-12 col-xs-12 col-xxs-12">
							<h4 class="vice-title">GUITAR COURSE 03</h4>
							<h3>玩兔指弹吉他入门</h3>
						</div>
						<div class="col-md-3 col-sm-5 col-xs-5 col-xxs-12">
							<ul>
								<li>年龄段：8-12，13-17</li>
								<li>乐器：吉他</li>
								<li>课时数：12/24/48 节</li>
							</ul>
						</div>
						<div class="col-md-5 col-sm-7 col-xs-7 col-xxs-12">
							<p>玩兔吉他系列课程，使每一个学员的左右脑得到最大程度的开发，使四肢的协调性得到增强，培养丰富而独特的表现形式，是了解和学习各种音乐风格的最佳途径。</p>
						</div>
						<a href="" data-toggle="modal" data-target="#myModal" class="hidden-xxs">免费试听报名</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="box box-sm br-white box-8 box-link">
					<div class="box-content">
						<div class="col-md-4 col-sm-12 col-xs-12 col-xxs-12">
							<h4 class="vice-title">GUITAR COURSE 04</h4>
							<h3>玩兔单曲速成课</h3>
						</div>
						<div class="col-md-3 col-sm-5 col-xs-5 col-xxs-12">
							<ul>
								<li>年龄段：8-12，13-17</li>
								<li>乐器：吉他</li>
								<li>课时数：12/24/48 节</li>
							</ul>
						</div>
						<div class="col-md-5 col-sm-7 col-xs-7 col-xxs-12">
							<p>玩兔吉他系列课程，使每一个学员的左右脑得到最大程度的开发，使四肢的协调性得到增强，培养丰富而独特的表现形式，是了解和学习各种音乐风格的最佳途径。</p>
						</div>
						<a href="" data-toggle="modal" data-target="#myModal" class="hidden-xxs">免费试听报名</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="box box-sm br-white box-9 box-link">
					<div class="box-content">
						<div class="col-md-4 col-sm-12 col-xs-12 col-xxs-12">
							<h4 class="vice-title">GUITAR COURSE 05</h4>
							<h3>玩兔吉他陪练课</h3>
						</div>
						<div class="col-md-3 col-sm-5 col-xs-5 col-xxs-12">
							<ul>
								<li>年龄段：全年龄段</li>
								<li>乐器：吉他</li>
								<li>课时数：12/24/48 节</li>
							</ul>
						</div>
						<div class="col-md-5 col-sm-7 col-xs-7 col-xxs-12">
							<p>玩兔吉他系列课程，使每一个学员的左右脑得到最大程度的开发，使四肢的协调性得到增强，培养丰富而独特的表现形式，是了解和学习各种音乐风格的最佳途径。</p>
						</div>
						<a href="" data-toggle="modal" data-target="#myModal" class="hidden-xxs">免费试听报名</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="box box-sm br-white box-8 box-link">
					<div class="box-content">
						<div class="col-md-4 col-sm-12 col-xs-12 col-xxs-12">
							<h4 class="vice-title">GUITAR COURSE 06</h4>
							<h3>玩兔吉他合奏课</h3>
						</div>
						<div class="col-md-3 col-sm-5 col-xs-5 col-xxs-12">
							<ul>
								<li>年龄段：全年龄段</li>
								<li>乐器：吉他</li>
								<li>课时数：12/24/48 节</li>
							</ul>
						</div>
						<div class="col-md-5 col-sm-7 col-xs-7 col-xxs-12">
							<p>玩兔吉他系列课程，使每一个学员的左右脑得到最大程度的开发，使四肢的协调性得到增强，培养丰富而独特的表现形式，是了解和学习各种音乐风格的最佳途径。</p>
						</div>
						<a href="" data-toggle="modal" data-target="#myModal" class="hidden-xxs">免费试听报名</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-6">
				<div class="box box-sm box-square box-10 box-class">
					<div class="type"><span>智能教室</span></div>
					<a href="#" data-toggle="modal" data-target="#myModal2">
						<div class="box-content center">
							<div class="center content">
			        			<h3>天津</h3>
			        			<p>西丨南丨角</p>
			        		</div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-6">
				<div class="box box-sm box-square br-white box-11">
					<img src="images/index/tran.svg" class="secondary_img">
				</div>
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12 col-xxs-12 col-md-offset-0 col-sm-offset-0 col-xs-12-offset-0 col-xxs-12-offset-0">
				<div class="box box-lg box-square box-12 box-number">
					<div class="type"><span>限量抢购</span></div>
					<div class="item">
			        	<div class="center">
			        		<div class="center content">
			        			<h2>1对1试听课<br>12元两节</h3>
			        			<a href="javascript:;" class="btn" data-toggle="modal" data-target="#myModal">马上预约</a>
			        			<a href="app注册" class="btn weixin">马上预约</a>
			        		</div>
			        		<img src="images/index/12.svg">
						</div>
			        </div>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12 col-xxs-12 col-md-offset-0 col-sm-offset-0 col-xs-12-offset-0 col-xxs-12-offset-0">
				<div class="box box-lg box-square box-13">
					<div class="box-hover box-hover-black">
						<div class="box-content center">
							<div class="center content">
								<p>Nothing bad is gonna (going to) happen, you gotta (got to) have a little faith.</p>
								<p>没有不幸会发生，你要有信念。</p>
								<p style="text-align:right;">—《八月迷情》</p>
							</div>
						</div>
					</div>
	        		<img src="images/guitar/people.png">
				</div>
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12 col-xxs-12">
				<div class="box box-sm box-rectangle-fat br-white box-14">
					<a href="" target="_blank">
						<div class="box-content">
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-xs-12 col-xxs-12 title-sec">
				<h3 class="title text-center" style="margin-bottom:20px;">其他乐器</h3>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-6 col-md-offset-0 col-sm-offset-0">
				<div class="box box-sm box-square box-16 box-instrument box-piano">
					<div class="type"><span>钢琴</span></div>
					<a href="piano.html">
						<div class="box-content center">
							<div class="center content">
			        			<h3>PIANO</h3>
			        		</div>
						</div>
					</a>
					<img src="images/index/piano.svg">				
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-6 col-md-offset-0 col-sm-offset-0">
				<div class="box box-sm box-square box-17 box-instrument box-drum">
					<div class="type"><span>架子鼓</span></div>
					<a href="drum.html">
						<div class="box-content center">
							<div class="center content">
			        			<h3>DRUMS</h3>
			        		</div>
						</div>
					</a>
					<img src="images/index/drum.svg">				
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-6 col-md-offset-0 col-sm-offset-0">
				<div class="box box-sm box-square box-18 box-instrument box-violin">
					<div class="type"><span>小提琴</span></div>
					<a href="violin.html">
						<div class="box-content center">
							<div class="center content">
			        			<h3>VIOLIN</h3>
			        		</div>
						</div>
					</a>
					<img src="images/index/violin.svg">
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-6 col-md-offset-0 col-sm-offset-0">
				<div class="box box-sm box-square box-19 box-instrument box-saxophone">
					<div class="type"><span>敬请期待</span></div>
					<!-- <a href="saxophone.html"> -->
					<a href="#" data-toggle="modal" data-target="#myModal2">
						<div class="box-content center">
							<div class="center content">
			        			<h3>SAXOPHONE</h3>
			        		</div>
						</div>
					</a>
					<img src="images/index/saxophone.svg">	
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  	<div class="modal-dialog" role="document">
    	<div class="modal-content">
        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      		<div class="modal-body">
        		<img src="images/qrcode.jpg">
        		<p class="sub_title">扫描二维码登录微信</p>
        		<div class="extension">
                    <div class="item">
                        <i class="icon web_wechat_login_phone_icon"></i>
                        <div class="cont">
                            <h4 class="title">登录手机微信</h4>
                            <p class="desc">
                                手机上<!-- ngIf: lang == 'zh_CN' --><a ng-if="lang == 'zh_CN'" href="http://weixin.qq.com/cgi-bin/readtemplate?t=weixin_download_list&amp;lang=zh_CN" target="_blank" class="ng-scope">安装</a><!-- end ngIf: lang == 'zh_CN' --><!-- ngIf: lang == 'zh_TW' --><!-- ngIf: lang != 'zh_CN' && lang != 'zh_TW' -->并登录微信</p>
                        </div>
                    </div>
                    <div class="item">
                        <i class="icon web_wechat_login_scan_icon"></i>
                        <div class="cont">
                            <h4 class="title">进入“扫一扫”</h4>
                            <p class="desc">从“发现”，进入“扫一扫”，扫码登录微信网页版</p>
                        </div>
                    </div>
                </div>
      		</div>
    	</div>
  	</div>
</div>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  	<div class="modal-dialog" role="document">
    	<div class="modal-content">
    		<div class="modal-header">
        		<h2 class="title">アプリ累計ダウンロード数2億7000万以上</h2>
        	</div>
      		<div class="modal-body">
        		<div class="text-wrap"> <p class="text">アプリの開発に力を入れており、「Yahoo! JAPAN」や「Yahoo!天気」「Yahoo!乗換案内」など、App StoreやGoogle Playのランキングで1位を獲得したアプリも多数あります。</p> <p class="note">※2015年3月末時点</p></div>
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      		</div>
    	</div>
  	</div>
</div>		
{% endblock %}

{% block scripts %}
    {% parent %}
    <!-- build:js /scripts/guitar.js -->
    	<script type="text/javascript" src="/scripts/drum.js"></script>
    <!-- endbuild -->
{% endblock %}