{% extends 'base/_layout.html' %}

{% block content %}
<div class="wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="vice-background guitar-bg carousel">

				</div>
			</div>
		</div>
	</div>
</div>

<div class="box-wrapper" id="myTabContent">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-12 col-xs-12 col-xxs-12 col-md-offset-0 col-sm-offset-0 col-xs-12-offset-0 col-xxs-12-offset-0">
				<div class="box box-lg box-square br-white box-1">
			        <div class="item">
			        	<div class="center">
			        		<div class="center content">
			        			<h1>GUITAR</h1>
			        			<h2 class="vice-title">吉他</h2>
			        			<a href="" class="btn" data-toggle="modal" data-target="#myModal">免费试听报名</a>
			        			<a href="app注册" class="btn weixin">免费试听报名</a>
			        		</div>
			        		<img src="images/index/guitar.svg">
						</div>
			        </div>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12 col-xxs-12 col-md-offset-0 col-sm-offset-0 col-xs-12-offset-0 col-xxs-12-offset-0">
				<div class="box box-lg box-square box-2">
			        <div class="item">
			        	<div class="center">
			        		<div class="center content">
			        			吉他被用于多种音乐风格， 它在流行音乐、摇滚音乐、蓝调、民歌、弗拉门戈中常被视为主要乐器，古典吉他与小提琴、钢琴并列为世界著名三大乐器。玩兔为这种风格多变的流行乐器设计了多种课程，无论是传统经典的古典吉他，还是流行易学的民谣吉他，甚至是可爱多变的尤克里里，从零基础到专业水准，只要你喜欢，成为自己最好的心灵歌者，没什么不可以。
			        		</div>
						</div>
			        </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
				<div class="box box-sm box-square br-guitar box-3">
					<div class="box-content">
						<img src="images/zhuanshuyuetuan.svg" class="hidden-lg hidden-md hidden-sm hidden-xs only-visable-xxs">
						<div class="item">
					        <div class="center">
								<div class="center content">
									<h3 class="title">专属乐团</h3>
									<p>
										玩兔会不定期地将合适的学员组成小乐团，由个人兴趣转化为团队合作，让学琴之路不再寂寞。
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
				<div class="box box-sm box-square br-guitar-dark box-4">
					<div class="box-content">
						<img src="images/butongfengge.svg" class="hidden-lg hidden-md hidden-sm hidden-xs only-visable-xxs">
						<div class="item">
				        	<div class="center">
				        		<div class="center content">
									<h3 class="title">不同风格</h3>
									<p>根据不同学员的音乐诉求，玩兔提供了民谣、古典、指弹、尤克里里等更风格多变的乐器课程。</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
				<div class="box box-sm box-square br-guitar box-5">
					<div class="box-content">
						<img src="images/sirendingzhi.svg" class="hidden-lg hidden-md hidden-sm hidden-xs only-visable-xxs">
						<div class="item">
				        	<div class="center">
				        		<div class="center content">
									<h3 class="title">私人订制</h3>
									<p>玩兔创新的教学理念、独特的教学方法，会根据学员的特点制定教学方法及学习计划。</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
				<div class="box box-sm box-square br-guitar-dark box-6">
					<div class="box-content">
						<img src="images/zhanxianziwo.svg" class="hidden-lg hidden-md hidden-sm hidden-xs only-visable-xxs">
						<div class="item">
				        	<div class="center">
				        		<div class="center content">
									<h3 class="title">展现自我</h3>
									<p>定期的活动演出给予学员展现自我的舞台，多媒体结合互联网的强大功能，让所有人看到你的风采。</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="box box-sm br-white box-7 box-link">
					<div class="box-content">
						<div class="col-md-4 col-sm-12 col-xs-12 col-xxs-12">
							<h4 class="vice-title">GUITAR COURSE 01</h4>
							<h3>尤克里里弹唱</h3>
						</div>
						<div class="col-md-3 col-sm-5 col-xs-5 col-xxs-12">
							<ul>
								<li>年龄段：全年龄段</li>
								<li>乐器：尤克里里</li>
								<li>课时数：12/24/48 节</li>
							</ul>
						</div>
						<div class="col-md-5 col-sm-7 col-xs-7 col-xxs-12">
							<p>尤克里里是一种来自夏威夷的小型吉他。无论是成年人还是儿童都能轻松掌握，好听易学，又能激发节奏潜能。有它在手中，没有你弹奏不了的歌曲。</p>
						</div>
						<a href="" data-toggle="modal" data-target="#myModal" class="hidden-xxs">免费试听报名</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="box box-sm box-8 box-link">
					<div class="box-content">
						<div class="col-md-4 col-sm-12 col-xs-12 col-xxs-12">
							<h4 class="vice-title">GUITAR COURSE 02</h4>
							<h3>民谣吉他入门</h3>
						</div>
						<div class="col-md-3 col-sm-5 col-xs-5 col-xxs-12">
							<ul>
								<li>年龄段：8-12，13-17</li>
								<li>乐器：民谣吉他</li>
								<li>课时数：12/24/48 节</li>
							</ul>
						</div>
						<div class="col-md-5 col-sm-7 col-xs-7 col-xxs-12">
							<p>本课程教学内容由浅入深，0基础也能顺畅学习，进阶爱好者也可为将来更酷炫的指弹技巧打下一个良好的基础。节课后伴奏弹唱和基础指弹演奏都不在话下。</p>
						</div>
						<a href="" data-toggle="modal" data-target="#myModal" class="hidden-xxs">免费试听报名</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="box box-sm br-white box-9 box-link">
					<div class="box-content">
						<div class="col-md-4 col-sm-12 col-xs-12 col-xxs-12">
							<h4 class="vice-title">GUITAR COURSE 03</h4>
							<h3>指弹吉他入门</h3>
						</div>
						<div class="col-md-3 col-sm-5 col-xs-5 col-xxs-12">
							<ul>
								<li>年龄段：8-12，13-17</li>
								<li>乐器：民谣吉他</li>
								<li>课时数：12/24/48 节</li>
							</ul>
						</div>
						<div class="col-md-5 col-sm-7 col-xs-7 col-xxs-12">
							<p>对于有一定基础的吉他兴趣爱好者，本课程着重训练学员对复杂指弹技巧的掌握，教材选自流行指弹大师卢家宏和押尾桑。课程结业后你将不会再惧怕表演。</p>
						</div>
						<a href="" data-toggle="modal" data-target="#myModal" class="hidden-xxs">免费试听报名</a>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="row">
			<div class="col-md-12">
				<div class="box box-sm br-white box-8 box-link">
					<div class="box-content">
						<div class="col-md-4 col-sm-12 col-xs-12 col-xxs-12">
							<h4 class="vice-title">GUITAR COURSE 04</h4>
							<h3>玩兔单曲速成课</h3>
						</div>
						<div class="col-md-3 col-sm-5 col-xs-5 col-xxs-12">
							<ul>
								<li>年龄段：8-12，13-17</li>
								<li>乐器：吉他</li>
								<li>课时数：12/24/48 节</li>
							</ul>
						</div>
						<div class="col-md-5 col-sm-7 col-xs-7 col-xxs-12">
							<p>玩兔吉他系列课程，使每一个学员的左右脑得到最大程度的开发，使四肢的协调性得到增强，培养丰富而独特的表现形式，是了解和学习各种音乐风格的最佳途径。</p>
						</div>
						<a href="" data-toggle="modal" data-target="#myModal" class="hidden-xxs">免费试听报名</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="box box-sm br-white box-9 box-link">
					<div class="box-content">
						<div class="col-md-4 col-sm-12 col-xs-12 col-xxs-12">
							<h4 class="vice-title">GUITAR COURSE 05</h4>
							<h3>玩兔吉他陪练课</h3>
						</div>
						<div class="col-md-3 col-sm-5 col-xs-5 col-xxs-12">
							<ul>
								<li>年龄段：全年龄段</li>
								<li>乐器：吉他</li>
								<li>课时数：12/24/48 节</li>
							</ul>
						</div>
						<div class="col-md-5 col-sm-7 col-xs-7 col-xxs-12">
							<p>玩兔吉他系列课程，使每一个学员的左右脑得到最大程度的开发，使四肢的协调性得到增强，培养丰富而独特的表现形式，是了解和学习各种音乐风格的最佳途径。</p>
						</div>
						<a href="" data-toggle="modal" data-target="#myModal" class="hidden-xxs">免费试听报名</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="box box-sm br-white box-8 box-link">
					<div class="box-content">
						<div class="col-md-4 col-sm-12 col-xs-12 col-xxs-12">
							<h4 class="vice-title">GUITAR COURSE 06</h4>
							<h3>玩兔吉他合奏课</h3>
						</div>
						<div class="col-md-3 col-sm-5 col-xs-5 col-xxs-12">
							<ul>
								<li>年龄段：全年龄段</li>
								<li>乐器：吉他</li>
								<li>课时数：12/24/48 节</li>
							</ul>
						</div>
						<div class="col-md-5 col-sm-7 col-xs-7 col-xxs-12">
							<p>玩兔吉他系列课程，使每一个学员的左右脑得到最大程度的开发，使四肢的协调性得到增强，培养丰富而独特的表现形式，是了解和学习各种音乐风格的最佳途径。</p>
						</div>
						<a href="" data-toggle="modal" data-target="#myModal" class="hidden-xxs">免费试听报名</a>
					</div>
				</div>
			</div>
		</div> -->
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-6">
				<div class="box box-sm box-square box-10 box-class">
					<div class="type"><span>智能教室</span></div>
					<a href="#" data-toggle="modal" data-target="#myModal2">
						<div class="box-content center">
							<div class="center content">
			        			<h3>天津</h3>
			        			<p>西丨南丨角</p>
			        		</div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-6">
				<div class="box box-sm box-square br-white box-11">
					<img src="images/index/bars.svg" class="secondary_img">
				</div>
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12 col-xxs-12 col-md-offset-0 col-sm-offset-0 col-xs-12-offset-0 col-xxs-12-offset-0">
				<div class="box box-lg box-square box-12 box-number">
					<div class="type"><span>限量抢购</span></div>
					<div class="item">
			        	<div class="center">
			        		<div class="center content">
			        			<h2>1对1试听课<br>12元一节</h3>
			        			<a href="javascript:;" class="btn" data-toggle="modal" data-target="#myModal">马上预约</a>
			        			<a href="app注册" class="btn weixin">马上预约</a>
			        		</div>
			        		<img src="images/index/12.svg">
						</div>
			        </div>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12 col-xxs-12 col-md-offset-0 col-sm-offset-0 col-xs-12-offset-0 col-xxs-12-offset-0">
				<div class="box box-lg box-square box-13">
					<div class="box-hover box-hover-black">
						<div class="box-content center">
							<div class="center content">
								<p>Nothing bad is gonna (going to) happen, you gotta (got to) have a little faith.</p>
								<p>没有不幸会发生，你要有信念。</p>
								<p style="text-align:right;">—《八月迷情》</p>
							</div>
						</div>
					</div>
	        		<img src="images/guitar/people.png">
				</div>
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12 col-xxs-12">
				<div class="box box-sm box-rectangle-fat box-14 box-teacher">
					<div class="type"><span>玩兔教师</span></div>
					<a href="teacher.html">
						<div class="box-content">
							<div class="img-details box-hover-black">
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-xs-12 col-xxs-12 title-sec">
				<h3 class="title text-center" style="margin-bottom:20px;">了解更多</h3>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-6 col-md-offset-0 col-sm-offset-0">
				<div class="box box-sm box-square box-16 box-instrument box-piano">
					<div class="type"><span>钢琴</span></div>
					<a href="piano.html">
						<div class="box-content center">
							<div class="center content">
			        			<h3>PIANO</h3>
			        		</div>
						</div>
					</a>
					<img src="images/index/piano.svg">				
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-6 col-md-offset-0 col-sm-offset-0">
				<div class="box box-sm box-square box-17 box-instrument box-drum">
					<div class="type"><span>架子鼓</span></div>
					<a href="drum.html">
						<div class="box-content center">
							<div class="center content">
			        			<h3>DRUMS</h3>
			        		</div>
						</div>
					</a>
					<img src="images/index/drum.svg">				
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-6 col-md-offset-0 col-sm-offset-0">
				<div class="box box-sm box-square box-18 box-instrument box-violin">
					<div class="type"><span>小提琴</span></div>
					<a href="violin.html">
						<div class="box-content center">
							<div class="center content">
			        			<h3>VIOLIN</h3>
			        		</div>
						</div>
					</a>
					<img src="images/index/violin.svg">
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-6 col-md-offset-0 col-sm-offset-0">
				<div class="box box-sm box-square box-19 box-instrument box-saxophone">
					<div class="type"><span>敬请期待</span></div>
					<!-- <a href="saxophone.html"> -->
					<a href="#" data-toggle="modal" data-target="#myModal2">
						<div class="box-content center">
							<div class="center content">
			        			<h3>SAXOPHONE</h3>
			        		</div>
						</div>
					</a>
					<img src="images/index/saxophone.svg">	
				</div>
			</div>
		</div>
	</div>
</div>

	{% block modal %}
	    {% include "base/_modal.html" %}
	{% endblock %}
{% endblock %}

{% block scripts %}
    {% parent %}
    <!-- build:js /scripts/guitar.js -->
    	<script type="text/javascript" src="/scripts/drum.js"></script>
    <!-- endbuild -->
{% endblock %}