{% extends 'base/_layout.html' %}

{% block content %}
<div class="nav-part">
	<div class="container">
		<div class="row">
			<span class="logo">
	            <a href="/index.html" class="logo-img"></a>
	        </span>
	        <nav class="main-nav navbar-right" role="navigation">
	            <div class="navbar-header">
	            <div id="navbar-collapse" class="navbar-collapse collapse">
	                <ul id="myTab" class="nav nav-tabs">
	                    <li class="nav-item nav-item-cta active"><a class="btn btn-cta btn-cta-secondary" href="#1" data-toggle="tab">免费注册</a></li>
	                    <li class="nav-item nav-item-cta "><a class="btn btn-cta btn-cta-secondary" href="#2" data-toggle="tab">免费注册</a></li>
	                    <li class="nav-item nav-item-cta "><a class="btn btn-cta btn-cta-secondary" href="#3" data-toggle="tab">免费注册</a></li>
	                </ul>
	            </div>
	        </nav>
		</div>
	</div>
</div>
<div class="box-wrapper tab-content" id="myTabContent">
	<div class="tab-pane fade in active" id="1">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-0">
					<div class="box box-lg box-square br-white animated animation fadeInUp box-1">
						<a data-toggle="modal" href="#myModal" id="article">
							<div class="box-content box-service box-default">
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-0">
					<div class="box box-sm box-rectangle-fat br-red animated animation fadeInUp box-2">
						<div class="box-content box-gallery padd-zero">
							<div class="img-details box-hover-black">
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2 col-sm-3 col-md-offset-0 col-sm-offset-3">
					<div class="box box-sm box-square br-green animated animation fadeInUp box-3">
						<div class="box-hover box-hover-black">
						</div>
						<a href="#">
							<div class="box-content navigation">
							</div>
						</a>
						<img src="http://katvig.dk/media/1150/aw17-frontpage_image_4.png?width=504?height=273&format=jpg&quality=70">
					</div>
				</div>
				<div class="col-md-2 col-sm-3">
					<div class="box box-lg box-rectangle-slim br-red animated animation fadeInUp box-4">
						<div class="box-hover box-hover-black">
						</div>
						<a href="#">
							<div class="box-content navigation">
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-sm-3 col-md-offset-4 col-sm-offset-6">
					<div class="box box-sm br-black pull-up pull-up-sm circle animated animation fadeInUp box-5">
						<img src="http://katvig.dk/media/1150/aw17-frontpage_image_4.png?width=504?height=273&format=jpg&quality=70">
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-md-offset-6 col-sm-offset-6">
					<div class="box box-sm box-rectangle-fat br-white pull-up animated animation fadeInUp box-6">
						<div class="box-content box-gallery padd-zero">
							<div class="img-details box-hover-black">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-sm-3 col-md-offset-0 col-sm-offset-3">
					<div class="box box-lg box-rectangle-slim br-blue animated animation fadeInUp box-7">
						<div class="box-hover box-hover-black">
						</div>
						<a href="#">
							<div class="box-content navigation">
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-6">
					<div class="box box-sm box-rectangle-fat br-red animated animation fadeInUp box-8">
						<div class="box-content box-gallery padd-zero">
							<div class="img-details box-hover-black">
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-6">
					<div class="box box-lg box-square br-blue animated animation fadeInUp box-9">
						<div class="box-content box-service box-default">
						</div>
					</div>
				</div>
				<div class="col-md-2 col-sm-3 col-md-offset-0 col-sm-offset-3 col-sm-offset-0">
					<div class="box box-sm box-square br-green animated animation fadeInUp box-10">
						<div class="box-hover box-hover-black">
						</div>
						<a href="#">
							<div class="box-content navigation">
							</div>
						</a>
						<img src="http://katvig.dk/media/1150/aw17-frontpage_image_4.png?width=504?height=273&format=jpg&quality=70">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-sm-3 col-md-offset-2 col-sm-offset-0">
					<div class="box box-sm br-black pull-up pull-up-sm circle animated animation fadeInUp box-11">
						<img src="http://katvig.dk/media/1150/aw17-frontpage_image_4.png?width=504?height=273&format=jpg&quality=70">
					</div>
				</div>
				<div class="col-md-2 col-sm-3 col-md-offset-4 col-sm-offset-3">
					<div class="box box-sm box-square br-black pull-up pull-up-sm animated animation fadeInUp box-12">
						<img src="http://katvig.dk/media/1150/aw17-frontpage_image_4.png?width=504?height=273&format=jpg&quality=70">
					</div>
				</div>
				<div class="col-md-2 col-sm-3 col-md-offset-10 col-sm-offset-3">
					<div class="box box-sm box-square br-black pull-up pull-up-sm animated animation fadeInUp box-13">
						<img src="http://katvig.dk/media/1150/aw17-frontpage_image_4.png?width=504?height=273&format=jpg&quality=70">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="tab-pane fade" id="2">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-0">
					<div class="box box-lg box-square br-white animated animation fadeInUp box-1">
						<div class="box-content box-service box-default">
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-0">
					<div class="box box-sm box-rectangle-fat br-red animated animation fadeInUp box-2">
						<div class="box-content box-gallery padd-zero">
							<div class="img-details box-hover-black">
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2 col-sm-3 col-md-offset-0 col-sm-offset-3">
					<div class="box box-sm box-square br-green animated animation fadeInUp box-3">
						<div class="box-hover box-hover-black">
						</div>
						<a href="#">
							<div class="box-content navigation">
							</div>
						</a>
						<img src="http://katvig.dk/media/1150/aw17-frontpage_image_4.png?width=504?height=273&format=jpg&quality=70">
					</div>
				</div>
				<div class="col-md-2 col-sm-3">
					<div class="box box-lg box-rectangle-slim br-red animated animation fadeInUp box-4">
						<div class="box-hover box-hover-black">
						</div>
						<a href="#">
							<div class="box-content navigation">
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-sm-3 col-md-offset-4 col-sm-offset-6">
					<div class="box box-sm br-black pull-up pull-up-sm circle animated animation fadeInUp box-5">
						<img src="http://katvig.dk/media/1150/aw17-frontpage_image_4.png?width=504?height=273&format=jpg&quality=70">
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-md-offset-6 col-sm-offset-6">
					<div class="box box-sm box-rectangle-fat br-white pull-up animated animation fadeInUp box-6">
						<div class="box-content box-gallery padd-zero">
							<div class="img-details box-hover-black">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-sm-3 col-md-offset-0 col-sm-offset-3">
					<div class="box box-lg box-rectangle-slim br-blue animated animation fadeInUp box-7">
						<div class="box-hover box-hover-black">
						</div>
						<a href="#">
							<div class="box-content navigation">
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-6">
					<div class="box box-sm box-rectangle-fat br-red animated animation fadeInUp box-8">
						<div class="box-content box-gallery padd-zero">
							<div class="img-details box-hover-black">
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-6">
					<div class="box box-lg box-square br-blue animated animation fadeInUp box-9">
						<div class="box-content box-service box-default">
						</div>
					</div>
				</div>
				<div class="col-md-2 col-sm-3 col-md-offset-0 col-sm-offset-3 col-sm-offset-0">
					<div class="box box-sm box-square br-green animated animation fadeInUp box-10">
						<div class="box-hover box-hover-black">
						</div>
						<a href="#">
							<div class="box-content navigation">
							</div>
						</a>
						<img src="http://katvig.dk/media/1150/aw17-frontpage_image_4.png?width=504?height=273&format=jpg&quality=70">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-sm-3 col-md-offset-2 col-sm-offset-0">
					<div class="box box-sm br-black pull-up pull-up-sm circle animated animation fadeInUp box-11">
						<img src="http://katvig.dk/media/1150/aw17-frontpage_image_4.png?width=504?height=273&format=jpg&quality=70">
					</div>
				</div>
				<div class="col-md-2 col-sm-3 col-md-offset-4 col-sm-offset-3">
					<div class="box box-sm box-square br-black pull-up pull-up-sm animated animation fadeInUp box-12">
						<img src="http://katvig.dk/media/1150/aw17-frontpage_image_4.png?width=504?height=273&format=jpg&quality=70">
					</div>
				</div>
				<div class="col-md-2 col-sm-3 col-md-offset-10 col-sm-offset-3">
					<div class="box box-sm box-square br-black pull-up pull-up-sm animated animation fadeInUp box-13">
						<img src="http://katvig.dk/media/1150/aw17-frontpage_image_4.png?width=504?height=273&format=jpg&quality=70">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="tab-pane fade" id="3">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-0">
					<div class="box box-lg box-square br-white animated animation fadeInUp box-1">
						<div class="box-content box-service box-default">
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-0">
					<div class="box box-sm box-rectangle-fat br-red animated animation fadeInUp box-2">
						<div class="box-content box-gallery padd-zero">
							<div class="img-details box-hover-black">
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2 col-sm-3 col-md-offset-0 col-sm-offset-3">
					<div class="box box-sm box-square br-green animated animation fadeInUp box-3">
						<div class="box-hover box-hover-black">
						</div>
						<a href="#">
							<div class="box-content navigation">
							</div>
						</a>
						<img src="http://katvig.dk/media/1150/aw17-frontpage_image_4.png?width=504?height=273&format=jpg&quality=70">
					</div>
				</div>
				<div class="col-md-2 col-sm-3">
					<div class="box box-lg box-rectangle-slim br-red animated animation fadeInUp box-4">
						<div class="box-hover box-hover-black">
						</div>
						<a href="#">
							<div class="box-content navigation">
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-sm-3 col-md-offset-4 col-sm-offset-6">
					<div class="box box-sm br-black pull-up pull-up-sm circle animated animation fadeInUp box-5">
						<img src="http://katvig.dk/media/1150/aw17-frontpage_image_4.png?width=504?height=273&format=jpg&quality=70">
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-md-offset-6 col-sm-offset-6">
					<div class="box box-sm box-rectangle-fat br-white pull-up animated animation fadeInUp box-6">
						<div class="box-content box-gallery padd-zero">
							<div class="img-details box-hover-black">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-sm-3 col-md-offset-0 col-sm-offset-3">
					<div class="box box-lg box-rectangle-slim br-blue animated animation fadeInUp box-7">
						<div class="box-hover box-hover-black">
						</div>
						<a href="#">
							<div class="box-content navigation">
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-6">
					<div class="box box-sm box-rectangle-fat br-red animated animation fadeInUp box-8">
						<div class="box-content box-gallery padd-zero">
							<div class="img-details box-hover-black">
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-6">
					<div class="box box-lg box-square br-blue animated animation fadeInUp box-9">
						<div class="box-content box-service box-default">
						</div>
					</div>
				</div>
				<div class="col-md-2 col-sm-3 col-md-offset-0 col-sm-offset-3 col-sm-offset-0">
					<div class="box box-sm box-square br-green animated animation fadeInUp box-10">
						<div class="box-hover box-hover-black">
						</div>
						<a href="#">
							<div class="box-content navigation">
							</div>
						</a>
						<img src="http://katvig.dk/media/1150/aw17-frontpage_image_4.png?width=504?height=273&format=jpg&quality=70">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-sm-3 col-md-offset-2 col-sm-offset-0">
					<div class="box box-sm br-black pull-up pull-up-sm circle animated animation fadeInUp box-11">
						<img src="http://katvig.dk/media/1150/aw17-frontpage_image_4.png?width=504?height=273&format=jpg&quality=70">
					</div>
				</div>
				<div class="col-md-2 col-sm-3 col-md-offset-4 col-sm-offset-3">
					<div class="box box-sm box-square br-black pull-up pull-up-sm animated animation fadeInUp box-12">
						<img src="http://katvig.dk/media/1150/aw17-frontpage_image_4.png?width=504?height=273&format=jpg&quality=70">
					</div>
				</div>
				<div class="col-md-2 col-sm-3 col-md-offset-10 col-sm-offset-3">
					<div class="box box-sm box-square br-black pull-up pull-up-sm animated animation fadeInUp box-13">
						<img src="http://katvig.dk/media/1150/aw17-frontpage_image_4.png?width=504?height=273&format=jpg&quality=70">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade wp" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"></div>
<div class="casebg-hide"></div>
<div>
	<a href="#">	    		
		<i class="iconfont nextpagebtn" id="nextpagebtn">&#xe610;</i>		
	</a>
</div>
<div>
    <a href="#">
		<i class="iconfont prevpagebtn" id="prevpagebtn">&#xe611;</i>		
	</a>
</div>
{% endblock %}

{% block scripts %}
    {% parent %}
    <!-- build:js /scripts/index.js -->
    <script type="text/javascript" src="/scripts/article.js"></script>
    <!-- endbuild -->
{% endblock %}
		