{% extends 'base/_layout.html' %}

{% block content %}
<div class="wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div id="carousel1" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3000">
				    <ol class="carousel-indicators">
				        <li data-target="#carousel1" data-slide-to="0" class="active"></li>
				        <li data-target="#carousel1" data-slide-to="1"></li>
				        <li data-target="#carousel1" data-slide-to="2"></li>
				    </ol>
				    <!-- Carousel items -->
				    <div class="carousel-inner">
				        <div class="active item">
				        	<div class="background">
								<div class="col-lg-5 col-md-6 col-sm-6 col-xs-12 col-lg-offset-0 col-md-offset-0 col-sm-offset-0">
									<div class="content-wrapper">
					                	<h1 class="title">主标题</h2>
					                    <h3 class="title">副标题副标题</h3>
						                <p class="btn-p hidden-xs">
						                    <a href="" class="btn btn-large btn-solid">免费注册</a>
						                </p>
						            </div>
					            </div>
	            			</div>
				        </div>
				        <div class="item">
				        	<div class="background">
								<div class="col-lg-5 col-md-6 col-sm-6 col-xs-12 col-lg-offset-0 col-md-offset-0 col-sm-offset-0">
									<div class="content-wrapper">
					                	<h1 class="title">主标题</h2>
					                    <h3 class="title">副标题副标题</h3>
						                <p class="btn-p hidden-xs">
						                    <a href="" class="btn btn-large btn-solid">免费注册</a>
						                </p>
						            </div>
					            </div>
	            			</div>
				        </div>
				        <div class="item">
				        	<div class="background">
								<div class="col-lg-5 col-md-6 col-sm-6 col-xs-12 col-lg-offset-0 col-md-offset-0 col-sm-offset-0">
									<div class="content-wrapper">
					                	<h1 class="title">主标题</h2>
					                    <h3 class="title">副标题副标题</h3>
						                <p class="btn-p hidden-xs">
						                    <a href="" class="btn btn-large btn-solid">免费注册</a>
						                </p>
						            </div>
					            </div>
	            			</div>
				        </div>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <div class="box-wrapper tab-content" id="myTabContent"> -->
<div class="box-wrapper" id="myTabContent">
	<!-- <div class="tab-pane fade in active" id="1"> -->
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-12-offset-0">
					<div class="box box-lg box-square br-white animated animation fadeInUp box-1">
						<div class="type"><span>New Matter</span></div>
						<div id="carousel2" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3000">
						    <ol class="carousel-indicators">
						        <li data-target="#carousel2" data-slide-to="0" class="active"></li>
						        <li data-target="#carousel2" data-slide-to="1"></li>
						        <li data-target="#carousel2" data-slide-to="2"></li>
						    </ol>
						    <!-- Carousel items -->
						    <div class="carousel-inner">
						        <div class="active item">
						        	<div class="center">
						        		<div class="center content">
						        			<h3>title</h3><br>
						        			We take care of the earth for future veterinarians, firemen and ballerinas
						        		</div>
						        		<img src="images/index/yinfu1.svg">
									</div>
						        </div>
						        <div class="item">
						        	<div class="center">
						        		<div class="center content">
						        			<h3>title</h3><br>
						        			We take care of the earth for future veterinarians, firemen and ballerinas
						        		</div>
									</div>
						        </div>
						        <div class="item">
						        	<div class="center">
						        		<div class="center content">
						        			<h3>title</h3><br>
						        			We take care of the earth for future veterinarians, firemen and ballerinas
						        		</div>
									</div>
						        </div>
						    </div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 col-md-offset-0 col-sm-offset-0">
					<div class="box box-sm box-rectangle-fat animated animation fadeInUp box-2">
						<div class="type"><span>New Matter</span></div>
						<div class="box-content box-gallery padd-zero">
							<div class="img-details box-hover-black">
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 col-md-offset-0 col-sm-offset-3">
					<div class="box box-sm box-square animated animation fadeInUp box-3">
						<div class="type"><span>New Matter</span></div>
						<div class="box-hover box-hover-black">
						</div>
						<a href="#">
							<div class="box-content navigation">
							</div>
						</a>
						<img src="">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-6 col-sm-offset-6">
					<div class="box box-sm box-rectangle-fat pull-up animated animation fadeInUp box-4">
						<div class="type"><span>New Matter</span></div>
						<div class="box-content box-gallery padd-zero">
							<div class="img-details box-hover-black">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-6">
					<div class="box box-sm box-square animated animation fadeInUp box-5">
						<div class="type"><span>架子鼓</span></div>
						<div class="box-hover box-hover-black">
						</div>
						<a href="drum.html" target="_blank">
							<div class="box-content navigation">
							</div>
						</a>
						<img src="images/index/drum.svg">
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<div class="box box-sm box-square animated animation fadeInUp box-6">
						<div class="type"><span>New Matter</span></div>
						<div class="box-content box-gallery padd-zero">
							<div class="img-details box-hover-black">
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<div class="box box-sm box-square br-white animated animation fadeInUp box-7">
						<div class="type"><span>New Matter</span></div>
						<div class="box-content box-service box-default">
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<div class="box box-lg box-rectangle-slim animated animation fadeInUp box-8">
						<div class="type"><span>New Matter</span></div>
						<div class="box-hover box-hover-black">
						</div>
						<a href="#">
							<div class="box-content navigation">
							</div>
						</a>
						<img src="http://www.frogdesign.cn/sites/default/files/styles/square_span6/public/work/thumb/thumbnail_ellingson_600x600.jpg?itok=YlkiPPPP">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-6">
					<div class="box box-sm box-square pull-up br-white animated animation fadeInUp box-9">
						<div class="type"><span>New Matter</span></div>
						<div class="box-hover box-hover-black">
						</div>
						<a href="#">
							<div class="box-content navigation">
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 col-md-offset-3 col-sm-offset-3 col-xs-offset-0">
					<div class="box box-sm box-square pull-up animated animation fadeInUp box-10">
						<div class="type"><span>钢琴</span></div>
						<div class="box-content box-gallery padd-zero">
							<div class="img-details box-hover-black">
							</div>
						</div>
						<img src="images/index/piano.svg">
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 col-md-offset-6 col-sm-offset-6">
					<div class="box box-sm box-square pull-up animated animation fadeInUp box-11">
						<div class="type"><span>吉他</span></div>
						<div class="box-content box-service box-default">
						</div>
						<img src="images/index/guitar.svg">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-6">
					<div class="box box-sm box-square animated animation fadeInUp box-12">
						<div class="type"><span>萨克斯</span></div>
						<div class="box-hover box-hover-black">
						</div>
						<a href="#">
							<div class="box-content navigation">
							</div>
						</a>
						<img src="images/index/saxophone.svg">
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<div class="box box-sm box-square br-white animated animation fadeInUp box-13">
						<div class="type"><span>New Matter</span></div>
						<div class="box-content box-gallery padd-zero">
							<div class="img-details box-hover-black">
							</div>
						</div>
						<img src="images/index/yinfu2.svg">
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="box box-lg box-square animated animation fadeInUp box-14">
						<div class="type"><span>New Matter</span></div>
						<div class="box-hover box-hover-black">
						</div>
						<a href="#">
							<div class="box-content navigation">
							</div>
						</a>
						<img src="images/index/12.svg">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-6">
					<div class="box box-sm box-square pull-up animated animation fadeInUp box-15">
						<div class="type"><span>New Matter</span></div>
						<div class="box-hover box-hover-black">
						</div>
						<a href="#">
							<div class="box-content navigation">
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 col-md-offset-3 col-sm-offset-3">
					<div class="box box-sm box-square pull-up animated animation fadeInUp box-16">
						<div class="type"><span>小提琴</span></div>
						<div class="box-content box-gallery padd-zero">
							<div class="img-details box-hover-black">
							</div>
						</div>
						<img src="images/index/violin.svg">
					</div>
				</div>
			</div>
		</div>
	<!-- </div> -->
	<!-- <div class="tab-pane fade" id="2">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-0">
					<div class="box box-lg box-square br-white animated animation fadeInUp box-1">
						<div class="box-content box-service box-default">
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-0">
					<div class="box box-sm box-rectangle-fat br-red animated animation fadeInUp box-2">
						<div class="box-content box-gallery padd-zero">
							<div class="img-details box-hover-black">
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2 col-sm-3 col-md-offset-0 col-sm-offset-3">
					<div class="box box-sm box-square br-green animated animation fadeInUp box-3">
						<div class="box-hover box-hover-black">
						</div>
						<a href="#">
							<div class="box-content navigation">
							</div>
						</a>
						<img src="http://katvig.dk/media/1150/aw17-frontpage_image_4.png?width=504?height=273&format=jpg&quality=70">
					</div>
				</div>
				<div class="col-md-2 col-sm-3">
					<div class="box box-lg box-rectangle-slim br-red animated animation fadeInUp box-4">
						<div class="box-hover box-hover-black">
						</div>
						<a href="#">
							<div class="box-content navigation">
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-sm-3 col-md-offset-4 col-sm-offset-6">
					<div class="box box-sm br-black pull-up pull-up-sm circle animated animation fadeInUp box-5">
						<img src="http://katvig.dk/media/1150/aw17-frontpage_image_4.png?width=504?height=273&format=jpg&quality=70">
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-md-offset-6 col-sm-offset-6">
					<div class="box box-sm box-rectangle-fat br-white pull-up animated animation fadeInUp box-6">
						<div class="box-content box-gallery padd-zero">
							<div class="img-details box-hover-black">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-sm-3 col-md-offset-0 col-sm-offset-3">
					<div class="box box-lg box-rectangle-slim br-blue animated animation fadeInUp box-7">
						<div class="box-hover box-hover-black">
						</div>
						<a href="#">
							<div class="box-content navigation">
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-6">
					<div class="box box-sm box-rectangle-fat br-red animated animation fadeInUp box-8">
						<div class="box-content box-gallery padd-zero">
							<div class="img-details box-hover-black">
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-6">
					<div class="box box-lg box-square br-blue animated animation fadeInUp box-9">
						<div class="box-content box-service box-default">
						</div>
					</div>
				</div>
				<div class="col-md-2 col-sm-3 col-md-offset-0 col-sm-offset-3 col-sm-offset-0">
					<div class="box box-sm box-square br-green animated animation fadeInUp box-10">
						<div class="box-hover box-hover-black">
						</div>
						<a href="#">
							<div class="box-content navigation">
							</div>
						</a>
						<img src="http://katvig.dk/media/1150/aw17-frontpage_image_4.png?width=504?height=273&format=jpg&quality=70">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-sm-3 col-md-offset-2 col-sm-offset-0">
					<div class="box box-sm br-black pull-up pull-up-sm circle animated animation fadeInUp box-11">
						<img src="http://katvig.dk/media/1150/aw17-frontpage_image_4.png?width=504?height=273&format=jpg&quality=70">
					</div>
				</div>
				<div class="col-md-2 col-sm-3 col-md-offset-4 col-sm-offset-3">
					<div class="box box-sm box-square br-black pull-up pull-up-sm animated animation fadeInUp box-12">
						<img src="http://katvig.dk/media/1150/aw17-frontpage_image_4.png?width=504?height=273&format=jpg&quality=70">
					</div>
				</div>
				<div class="col-md-2 col-sm-3 col-md-offset-10 col-sm-offset-3">
					<div class="box box-sm box-square br-black pull-up pull-up-sm animated animation fadeInUp box-13">
						<img src="http://katvig.dk/media/1150/aw17-frontpage_image_4.png?width=504?height=273&format=jpg&quality=70">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="tab-pane fade" id="3">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-0">
					<div class="box box-lg box-square br-white animated animation fadeInUp box-1">
						<div class="box-content box-service box-default">
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-0">
					<div class="box box-sm box-rectangle-fat br-red animated animation fadeInUp box-2">
						<div class="box-content box-gallery padd-zero">
							<div class="img-details box-hover-black">
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2 col-sm-3 col-md-offset-0 col-sm-offset-3">
					<div class="box box-sm box-square br-green animated animation fadeInUp box-3">
						<div class="box-hover box-hover-black">
						</div>
						<a href="#">
							<div class="box-content navigation">
							</div>
						</a>
						<img src="http://katvig.dk/media/1150/aw17-frontpage_image_4.png?width=504?height=273&format=jpg&quality=70">
					</div>
				</div>
				<div class="col-md-2 col-sm-3">
					<div class="box box-lg box-rectangle-slim br-red animated animation fadeInUp box-4">
						<div class="box-hover box-hover-black">
						</div>
						<a href="#">
							<div class="box-content navigation">
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-sm-3 col-md-offset-4 col-sm-offset-6">
					<div class="box box-sm br-black pull-up pull-up-sm circle animated animation fadeInUp box-5">
						<img src="http://katvig.dk/media/1150/aw17-frontpage_image_4.png?width=504?height=273&format=jpg&quality=70">
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-md-offset-6 col-sm-offset-6">
					<div class="box box-sm box-rectangle-fat br-white pull-up animated animation fadeInUp box-6">
						<div class="box-content box-gallery padd-zero">
							<div class="img-details box-hover-black">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-sm-3 col-md-offset-0 col-sm-offset-3">
					<div class="box box-lg box-rectangle-slim br-blue animated animation fadeInUp box-7">
						<div class="box-hover box-hover-black">
						</div>
						<a href="#">
							<div class="box-content navigation">
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-6">
					<div class="box box-sm box-rectangle-fat br-red animated animation fadeInUp box-8">
						<div class="box-content box-gallery padd-zero">
							<div class="img-details box-hover-black">
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-6">
					<div class="box box-lg box-square br-blue animated animation fadeInUp box-9">
						<div class="box-content box-service box-default">
						</div>
					</div>
				</div>
				<div class="col-md-2 col-sm-3 col-md-offset-0 col-sm-offset-3 col-sm-offset-0">
					<div class="box box-sm box-square br-green animated animation fadeInUp box-10">
						<div class="box-hover box-hover-black">
						</div>
						<a href="#">
							<div class="box-content navigation">
							</div>
						</a>
						<img src="http://katvig.dk/media/1150/aw17-frontpage_image_4.png?width=504?height=273&format=jpg&quality=70">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-sm-3 col-md-offset-2 col-sm-offset-0">
					<div class="box box-sm br-black pull-up pull-up-sm circle animated animation fadeInUp box-11">
						<img src="http://katvig.dk/media/1150/aw17-frontpage_image_4.png?width=504?height=273&format=jpg&quality=70">
					</div>
				</div>
				<div class="col-md-2 col-sm-3 col-md-offset-4 col-sm-offset-3">
					<div class="box box-sm box-square br-black pull-up pull-up-sm animated animation fadeInUp box-12">
						<img src="http://katvig.dk/media/1150/aw17-frontpage_image_4.png?width=504?height=273&format=jpg&quality=70">
					</div>
				</div>
				<div class="col-md-2 col-sm-3 col-md-offset-10 col-sm-offset-3">
					<div class="box box-sm box-square br-black pull-up pull-up-sm animated animation fadeInUp box-13">
						<img src="http://katvig.dk/media/1150/aw17-frontpage_image_4.png?width=504?height=273&format=jpg&quality=70">
					</div>
				</div>
			</div>
		</div>
	</div> -->
</div>
<!-- <div class="modal fade wp" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"></div>
<div class="casebg-hide"></div>
<div>
	<a href="#">	    		
		<i class="iconfont nextpagebtn" id="nextpagebtn">&#xe610;</i>		
	</a>
</div>
<div>
    <a href="#">
		<i class="iconfont prevpagebtn" id="prevpagebtn">&#xe611;</i>		
	</a>
</div> -->
{% endblock %}

{% block scripts %}
    {% parent %}
    <!-- build:js /scripts/index.js -->
    <script type="text/javascript" src="/scripts/test.js"></script>
    <script type="text/javascript" src="/scripts/article.js"></script>
    <!-- endbuild -->
{% endblock %}
		