{% extends 'base/_layout.html' %}

{% block content %}
<div class="wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div id="carousel1" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3000">
				    <!-- <ol class="carousel-indicators">
				        <li data-target="#carousel1" data-slide-to="0" class="active"></li>
				        <li data-target="#carousel1" data-slide-to="1"></li>
				        <li data-target="#carousel1" data-slide-to="2"></li>
				    </ol> -->
				    <!-- Carousel items -->
				    <div class="carousel-inner">
				        <div class="active item">
				        	<div class="background">
								<div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 col-lg-offset-0 col-md-offset-0 col-sm-offset-0">
									<div class="content-wrapper">
					                	<h1 class="title">他 她</h1>
					                    <h3 class="title">的兴趣，也许是音乐</h3>
						                <p class="btn-p">
						                    <a href="" class="btn btn-large btn-solid" data-toggle="modal" data-target="#myModal">12元一对一试听课</a>
						                </p>
						            </div>
					            </div>
	            			</div>
				        </div>
				        <!-- <div class="item">
				        	<div class="background">
								<div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 col-lg-offset-0 col-md-offset-0 col-sm-offset-0">
									<div class="content-wrapper">
					                	<h1 class="title">他 她</h1>
					                    <h3 class="title">的兴趣，也许是音乐</h3>
						                <p class="btn-p">
						                    <a href="" class="btn btn-large btn-solid" data-toggle="modal" data-target="#myModal">12元一对一试听课</a>
						                </p>
						            </div>
					            </div>
	            			</div>
				        </div>
				        <div class="item">
				        	<div class="background">
								<div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 col-lg-offset-0 col-md-offset-0 col-sm-offset-0">
									<div class="content-wrapper">
					                	<h1 class="title">他 她</h1>
					                    <h3 class="title">的兴趣，也许是音乐</h3>
						                <p class="btn-p">
						                    <a href="" class="btn btn-large btn-solid" data-toggle="modal" data-target="#myModal">12元一对一试听课</a>
						                </p>
						            </div>
					            </div>
	            			</div>
				        </div> -->
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="box-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-12-offset-0">
				<div class="box box-lg box-square br-white box-1">
					<div class="type"><span>玩兔理念</span></div>
					<div id="carousel2" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3000">
					    <ol class="carousel-indicators">
					        <li data-target="#carousel2" data-slide-to="0" class="active"></li>
					        <li data-target="#carousel2" data-slide-to="1"></li>
					        <li data-target="#carousel2" data-slide-to="2"></li>
					    </ol>
					    <!-- Carousel items -->
					    <div class="carousel-inner">
					        <div class="active item">
					        	<div class="center">
					        		<div class="center content">
					        			<h3>对待兴趣</h3><br>
					        			我们推崇一种非功利的学习态度，<br>在艺术与美的熏陶中培养孩子的生活情趣。
					        		</div>
					        		<img src="images/index/yinfu1.svg">
								</div>
					        </div>
					        <div class="item">
					        	<div class="center">
					        		<div class="center content">
					        			<h3>对待兴趣</h3><br>
					        			我们推崇一种非功利的学习态度，<br>在艺术与美的熏陶中培养孩子的生活情趣。
					        		</div>
					        		<img src="images/index/yinfu1.svg">
								</div>
					        </div>
					        <div class="item">
					        	<div class="center">
					        		<div class="center content">
					        			<h3>对待兴趣</h3><br>
					        			我们推崇一种非功利的学习态度，<br>在艺术与美的熏陶中培养孩子的生活情趣。
					        		</div>
					        		<img src="images/index/yinfu1.svg">
								</div>
					        </div>
					    </div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 col-xxs-6 col-md-offset-0 col-sm-offset-0">
				<div class="box box-sm br-white box-rectangle-fat box-2">
					<img src="images/index/circle.svg" class="secondary_img">
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 col-xxs-6 col-md-offset-0 col-sm-offset-3">
				<div class="box box-sm box-square box-3 box-class">
					<div class="type"><span>智能教室</span></div>
					<a href="#" data-toggle="modal" data-target="#myModal2">
						<div class="box-content center">
							<div class="center content">
			        			<h3>天津</h3>
			        			<p>西丨南丨角</p>
			        		</div>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12 col-xxs-12 col-md-offset-6 col-sm-offset-6">
				<div class="box box-sm box-rectangle-fat pull-up box-4">
					<div class="type"><span>玩兔教师</span></div>
					<div class="box-content">
						<div class="img-details box-hover-black">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-6 col-xxs-6">
				<div class="box box-sm box-square box-5 box-instrument box-drum">
					<div class="type"><span>架子鼓</span></div>
					<a href="drum.html">
						<div class="box-content center">
							<div class="center content">
			        			<h3>DRUMS</h3>
			        		</div>
						</div>
					</a>
					<img src="images/index/drum.svg">
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 col-xxs-6">
				<div class="box box-sm br-white box-square box-6">
					<img src="images/index/bars.svg" class="secondary_img">
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 col-xxs-6">
				<div class="box box-sm box-square br-white box-7">
					<div class="type"><span>玩兔演出</span></div>
					<a href="#" data-toggle="modal" data-target="#myModal2">
						<div class="box-content center">
							<div class="center content">
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 col-xxs-6">
				<div class="box box-lg br-white box-rectangle-slim box-8">
					
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-6 col-xxs-6">
				<div class="box box-sm box-square pull-up br-white box-9">
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 col-xxs-6 col-md-offset-3 col-sm-offset-3 col-xs-offset-0">
				<div class="box box-sm box-square pull-up box-10 box-instrument box-piano">
					<div class="type"><span>钢琴</span></div>
					<a href="piano.html">
						<div class="box-content center">
							<div class="center content">
			        			<h3>PIANO</h3>
			        		</div>
						</div>
					</a>
					<img src="images/index/piano.svg">
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 col-xxs-6 col-md-offset-6 col-sm-offset-6">
				<div class="box box-sm box-square pull-up box-11 box-instrument box-guitar">
					<div class="type"><span>吉他</span></div>
					<a href="guitar.html">
						<div class="box-content center">
							<div class="center content">
			        			<h3>GUITAR</h3>
			        		</div>
						</div>
					</a>
					<img src="images/index/guitar.svg">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-6 col-xxs-6">
				<div class="box box-sm box-square box-12 box-instrument box-saxophone">
					<div class="type"><span>萨克斯</span></div>
					<a href="saxophone.html">
						<div class="box-content center">
							<div class="center content">
			        			<h3>SAXOPHONE</h3>
			        		</div>
						</div>
					</a>
					<img src="images/index/saxophone.svg">
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 col-xxs-6">
				<div class="box box-sm box-square br-white box-13">
					<img src="images/index/yinfu2.svg" class="secondary_img">
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 col-xxs-12">
				<div class="box box-lg box-square box-14 box-number">
					<div class="type"><span>限量抢购</span></div>
					<div class="item">
			        	<div class="center">
			        		<div class="center content">
			        			<h2>1对1试听课<br>12元两节</h3>
			        			<a href="javascript:;" class="btn" data-toggle="modal" data-target="#myModal">马上预约</a>
			        		</div>
			        		<img src="images/index/12.svg">
						</div>
			        </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-6 col-xxs-6">
				<div class="box box-sm br-white box-square pull-up box-15">
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 col-md-offset-3 col-sm-offset-3">
				<div class="box box-sm box-square pull-up box-16 box-instrument box-violin">
					<div class="type"><span>小提琴</span></div>
					<a href="violin.html">
						<div class="box-content center">
							<div class="center content">
			        			<h3>VIOLIN</h3>
			        		</div>
						</div>
					</a>
					<img src="images/index/violin.svg">
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  	<div class="modal-dialog" role="document">
    	<div class="modal-content">
    		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        		<h4 id="videoModalLabel" class="modal-title sr-only"></h4>
        	</div>
      		<div class="modal-body">
        		<img src="images/qrcode.jpg">
        		<p class="sub_title">扫描二维码登录微信</p>
        		<div class="extension">
                    <div class="item">
                        <i class="icon web_wechat_login_phone_icon"></i>
                        <div class="cont">
                            <h4 class="title">登录手机微信</h4>
                            <p class="desc">
                                手机上<!-- ngIf: lang == 'zh_CN' --><a ng-if="lang == 'zh_CN'" href="http://weixin.qq.com/cgi-bin/readtemplate?t=weixin_download_list&amp;lang=zh_CN" target="_blank" class="ng-scope">安装</a><!-- end ngIf: lang == 'zh_CN' --><!-- ngIf: lang == 'zh_TW' --><!-- ngIf: lang != 'zh_CN' && lang != 'zh_TW' -->并登录微信
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <i class="icon web_wechat_login_scan_icon"></i>
                        <div class="cont">
                            <h4 class="title">进入“扫一扫”</h4>
                            <p class="desc">从“发现”，进入“扫一扫”，扫码登录微信网页版</p>
                        </div>
                    </div>
                </div>
      		</div>
    	</div>
  	</div>
</div>	

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  	<div class="modal-dialog" role="document">
    	<div class="modal-content">
    		<div class="modal-header">
        		<h2 class="title">アプリ累計ダウンロード数2億7000万以上</h2>
        	</div>
      		<div class="modal-body">
        		<div class="text-wrap"> <p class="text">アプリの開発に力を入れており、「Yahoo! JAPAN」や「Yahoo!天気」「Yahoo!乗換案内」など、App StoreやGoogle Playのランキングで1位を獲得したアプリも多数あります。</p> <p class="note">※2015年3月末時点</p></div>
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      		</div>
    	</div>
  	</div>
</div>	
{% endblock %}

{% block scripts %}
    {% parent %}
    <!-- build:js /scripts/index.js -->
    <script type="text/javascript" src="/scripts/test.js"></script>
    <!-- endbuild -->
{% endblock %}
		