{% extends 'base/_layout.html' %}

{% block content %}
<div class="wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="vice-background teacher-bg carousel">

				</div>
			</div>
		</div>
	</div>
</div>

<div class="box-wrapper" id="myTabContent">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-12 col-xs-12 col-xxs-12 col-md-offset-0 col-sm-offset-0 col-xs-12-offset-0 col-xxs-12-offset-0">
				<div class="box box-lg box-square br-white box-1">
			        <div class="item">
			        	<div class="center">
			        		<div class="center content">
			        			<h1>MUSICROOM</h1>
			        			<h2 class="vice-title">玩兔教室</h2>
			        			<a href="https://shop192168.koudaitong.com/v2/showcase/physicalstore/detail?kdt_id=18234316&id=1096952&reft=1477035032226_1477035034280&spm=f45260990_g308539192_fake18234316&sf=wx_sm" class="btn">查看地图</a>
			        		</div>
			        		<img src="images/classroom/map.png">
						</div>
			        </div>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12 col-xxs-12 col-md-offset-0 col-sm-offset-0 col-xs-12-offset-0 col-xxs-12-offset-0">
				<div class="box box-lg box-square box-2">
			        <div class="item">
			        	<div class="center">
			        		<div class="center content">
			        			一个月的地毯式选址，一个月的室内方案设计，一个月的选材施工，一个月的设备引进、内测、封测，直到最后的环境监测和产品调试，我们旨在为您带来全新的学习体验。好东西，不怕等。欢迎您到店参观、咨询、喝杯咖啡...
			        		</div>
						</div>
			        </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
				<div class="box box-sm box-square br-teacher box-3">
					<div class="box-content">
						
						<div class="item">
					        <div class="center">
								<div class="center content">
									<img src="images/classroom/ditiezhida.svg">
									<h3 class="title">地铁直达</h3>
									<p>
										玩兔西南角教室位于天津地铁1、2号交汇处西南角站，无论您身处何处都能轻松抵达。
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
				<div class="box box-sm box-square br-teacher-dark box-4">
					<div class="box-content">
						
						<div class="item">
				        	<div class="center">
				        		<div class="center content">
				        			<img src="images/classroom/jingxinyuedu.svg">
									<h3 class="title">静心阅读</h3>
									<p>孩子上课的同时，您也可以把枯燥的等候变成充实的学习时间，各类好书等您来读。</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
				<div class="box box-sm box-square br-teacher box-5">
					<div class="box-content">
						
						<div class="item">
				        	<div class="center">
				        		<div class="center content">
				        			<img src="images/classroom/nuanxinreyin.svg">
									<h3 class="title">暖心热饮</h3>
									<p>哪怕只是路过，我们也欢迎您来坐坐，我们为您准备了各类热饮和精致茶点。</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
				<div class="box box-sm box-square br-teacher-dark box-6">
					<div class="box-content">
						
						<div class="item">
				        	<div class="center">
				        		<div class="center content">
				        			<img src="images/classroom/shangwangchongdian.svg">
									<h3 class="title">上网充电</h3>
									<p>玩兔教室为您配备了高速WIFI、移动电源、激光打印机、互联网电视等科技设备。</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row qualification-part" >
			<h1 class="title">教室特色</h1>
			<div class="col-md-5 col-md-offset-1 col-sm-6 col-sm-offfset-0">
				<div class="content-wrapper">
                    <img src="images/classroom/zhuanyegeyin.png">
                    <div class="content-right">
                        <h3 class="title"><span class="text">专业隔音</span></h3>
                        <p class="intro-text">隔音效果、视觉效果、环境保护是我们在教室隔音方案上的追求，最后的木质隔音板达到了这三个要求，为此我们舍弃了可能同样重要的第四点：成本控制。</p>
                    </div>
                </div>
			</div>
			<div class="col-md-5 col-md-offset-0 col-sm-6 col-sm-offfset-0">
				<div class="content-wrapper">
                    <img src="images/classroom/yueqishangcheng.png">
                    <div class="content-right">
                        <h3 class="title"><span class="text">乐器商城</span></h3>
                        <p class="intro-text">玩兔教室为您提供尤克里里、民谣吉他、电子爵士鼓、立式钢琴等乐器的现场试用，相信风格各异、档次均衡的各类乐器总有一款适合您。并且，我们为正式学员提供免费教学乐器，无需购买就能轻松开启音乐兴趣。</p>
                    </div>
                </div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-6 col-xxs-6">
				<div class="box box-sm box-square box-7 box-trolls">
					<div class="type"><span>精彩活动</span></div>
					<a href="trolls.html">
						<div class="box-content center">
							<div class="center content">
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 col-xxs-6">
				<div class="box box-sm box-square br-white box-8 box-instrument box-piano">
					<div class="type"><span>钢琴</span></div>
					<a href="piano.html">
						<div class="box-content center">
							<div class="center content">
			        			<h3>PIANO</h3>
			        		</div>
						</div>
					</a>
					<img src="images/index/piano.svg">
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 col-xxs-12">
				<div class="box box-lg box-square box-9 box-number">
					<div class="type"><span>限量抢购</span></div>
					<div class="item">
			        	<div class="center">
			        		<div class="center content">
			        			<h2>1对1试听课<br>12元一节</h3>
			        			<a href="javascript:;" class="btn ga" data="1" data-toggle="modal" data-target="#myModal">马上预约</a>
			        			<a href="http://app.12swing.com/" class="btn weixin">马上预约</a>
			        		</div>
			        		<img src="images/index/12.svg">
						</div>
			        </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-6 col-xxs-6">
				<div class="box box-sm box-square br-white pull-up box-10 box-instrument box-drum">
					<div class="type"><span>架子鼓</span></div>
					<a href="drum.html">
						<div class="box-content center">
							<div class="center content">
			        			<h3>DRUMS</h3>
			        		</div>
						</div>
					</a>
					<img src="images/index/drum.svg">
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 col-md-offset-3 col-sm-offset-3 col-xs-offset-0 col-xxs-offset-0">
				<div class="box box-sm box-square pull-up box-11 box-instrument box-guitar">
					<div class="type"><span>吉他</span></div>
					<a href="guitar.html">
						<div class="box-content center">
							<div class="center content">
			        			<h3>GUITAR</h3>
			        		</div>
						</div>
					</a>
					<img src="images/index/guitar.svg">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-6 col-xxs-6">
				<div class="box box-sm box-square box-12 box-shop">
					<div class="type"><span>玩兔商城</span></div>
					<a href="https://h5.koudaitong.com/v2/showcase/homepage?alias=1pu9beh6" target="_blank">
						<div class="box-content center">
							<div class="center content">
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 col-xxs-6">
				<div class="box box-sm box-square br-white box-13 box-instrument box-violin">
					<div class="type"><span>小提琴</span></div>
					<a href="violin.html">
						<div class="box-content center">
							<div class="center content">
			        			<h3>VIOLIN</h3>
			        		</div>
						</div>
					</a>
					<img src="images/index/violin.svg">
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 col-xxs-12">
				<div class="box box-sm box-rectangle-fat box-14 box-teacher">
					<div class="type"><span>玩兔教师</span></div>
					<a href="teacher.html">
						<div class="box-content">
							<div class="img-details box-hover-black"></div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
	{% block modal %}
	    {% include "base/_modal.html" %}
	{% endblock %}

{% endblock %}

{% block scripts %}
    {% parent %}
    <!-- build:js /scripts/musicroom.js -->
    	<script type="text/javascript" src="/scripts/musicroom.js"></script>
    <!-- endbuild -->
{% endblock %}