{% extends 'base/_layout.html' %}

{% block content %}
<div class="wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="vice-background piano-bg carousel"></div>
			</div>
		</div>
	</div>
</div>

<div class="box-wrapper" id="myTabContent">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-12 col-xs-12 col-xxs-12 col-md-offset-0 col-sm-offset-0 col-xs-12-offset-0 col-xxs-12-offset-0">
				<div class="box box-lg box-square br-white box-1">
			        <div class="item">
			        	<div class="center">
			        		<div class="center content">
			        			<h1>PIANO</h1>
			        			<h2 class="vice-title">钢琴</h2>
			        			<a href="" class="btn" data-toggle="modal" data-target="#myModal">免费试听报名</a>
			        			<a href="app" class="btn weixin">免费试听报名</a>
			        		</div>
			        		<img src="images/index/piano.svg">
						</div>
			        </div>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12 col-xxs-12 col-md-offset-0 col-sm-offset-0 col-xs-12-offset-0 col-xxs-12-offset-0">
				<div class="box box-lg box-square box-2">
			        <div class="item">
			        	<div class="center">
			        		<div class="center content">
			        			现代钢琴被众多的音乐家们誉为“乐器之王”。这不仅是由于它的体积最大、内部结构最复杂，更主要的还是由于它优良全面的性能和广泛的用途都是其他任何乐器无法与之相比拟的。玩兔钢琴系列课程因材施教，结合不同年龄段学员的特点，再配合包括智能钢琴在内的多种教具，使学员在跟随教材自然地学习演奏技巧和乐理知识的同时，提升全面的音乐素养。
			        		</div>
						</div>
			        </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
				<div class="box box-sm box-square br-piano box-3">
					<div class="box-content">
						<img src="images/index/piano.svg" class="hidden-lg hidden-md hidden-sm hidden-xs only-visable-xxs">
						<div class="item">
					        <div class="center">
								<div class="center content">
									<h3 class="title">智能乐器</h3>
									<p>配合智能钢琴，让每一个学员体验来自未来的音乐教育，让每一次的弹奏，都来自内心的热爱。</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
				<div class="box box-sm box-square br-piano-dark box-4">
					<div class="box-content">
						<img src="images/index/piano.svg" class="hidden-lg hidden-md hidden-sm hidden-xs only-visable-xxs">
						<div class="item">
				        	<div class="center">
				        		<div class="center content">
									<h3 class="title">展现自我</h3>
									<p>定期的活动演出给予学员展现自我的舞台，多媒体结合互联网的强大功能，让所有人看到你的风采。</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
				<div class="box box-sm box-square br-piano box-5">
					<div class="box-content">
						<img src="images/index/piano.svg" class="hidden-lg hidden-md hidden-sm hidden-xs only-visable-xxs">
						<div class="item">
				        	<div class="center">
				        		<div class="center content">
									<h3 class="title">私人订制</h3>
									<p>玩兔创新的教学理念、独特的教学方法，会根据学员的特点制定教学方法及学习计划。</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
				<div class="box box-sm box-square br-piano-dark box-6">
					<div class="box-content">
						<img src="images/index/piano.svg" class="hidden-lg hidden-md hidden-sm hidden-xs only-visable-xxs">
						<div class="item">
				        	<div class="center">
				        		<div class="center content">
									<h3 class="title">综合素质</h3>
									<p>玩兔不希望学员成为演奏乐器的机器，而是通过广泛的音乐知识的学习和兴趣培养成为音乐的朋友。</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="box box-sm br-white box-7 box-link">
					<div class="box-content">
						<div class="col-md-4 col-sm-12 col-xs-12 col-xxs-12">
							<h4 class="vice-title">PIANO COURSE 01</h4>
							<h3>音乐素养启蒙</h3>
						</div>
						<div class="col-md-3 col-sm-5 col-xs-5 col-xxs-12">
							<ul>
								<li>年龄段：5-7岁，8-12岁</li>
								<li>乐器：智能钢琴</li>
								<li>课时数：12/24/48 节</li>
							</ul>
						</div>
						<div class="col-md-5 col-sm-7 col-xs-7 col-xxs-12">
							<p>立足快乐，兴趣引领，体现互联网时代特点，将多媒体手段、智能软件、与严谨的钢琴教学相融合。 结合儿童生理、心理、人格特质等，奠定音乐素养基础。</p>
						</div>
						<a href="" data-toggle="modal" data-target="#myModal" class="hidden-xxs">免费试听报名</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="box box-sm box-8 box-link">
					<div class="box-content">
						<div class="col-md-4 col-sm-12 col-xs-12 col-xxs-12">
							<h4 class="vice-title">PIANO COURSE 02</h4>
							<h3>趣味钢琴课</h3>
						</div>
						<div class="col-md-3 col-sm-5 col-xs-5 col-xxs-12">
							<ul>
								<li>年龄段：5-7岁，8-12岁</li>
								<li>乐器：钢琴、智能钢琴</li>
								<li>课时数：12/24/48 节</li>
							</ul>
						</div>
						<div class="col-md-5 col-sm-7 col-xs-7 col-xxs-12">
							<p>将奥尔夫、柯达伊、达尔克罗兹三大音乐教学法融于一体，学习名曲时，也能同步了解乐器、曲式曲风和创作的背景故事，以获得终生受用的综合音乐素养。</p>
						</div>
						<a href="" data-toggle="modal" data-target="#myModal" class="hidden-xxs">免费试听报名</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="box box-sm br-white box-9 box-link">
					<div class="box-content">
						<div class="col-md-4 col-sm-12 col-xs-12 col-xxs-12">
							<h4 class="vice-title">PIANO COURSE 03</h4>
							<h3>钢琴演奏进阶</h3>
						</div>
						<div class="col-md-3 col-sm-5 col-xs-5 col-xxs-12">
							<ul>
								<li>年龄段：8-12岁，13-17岁</li>
								<li>乐器：钢琴、智能钢琴</li>
								<li>课时数：12/24/48 节</li>
							</ul>
						</div>
						<div class="col-md-5 col-sm-7 col-xs-7 col-xxs-12">
							<p>专为对即兴伴奏及品鉴音乐感兴趣的学员打造的高阶精品课程，弥补没有童子功的遗憾，打造另一条通往艺术的桥梁。精选专业技巧练习曲，更具有曲目针对性。</p>
						</div>
						<a href="" data-toggle="modal" data-target="#myModal" class="hidden-xxs">免费试听报名</a>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="row">
			<div class="col-md-12">
				<div class="box box-sm box-8 box-link">
					<div class="box-content">
						<div class="col-md-4 col-sm-12 col-xs-12 col-xxs-12">
							<h4 class="vice-title">PIANO COURSE 04</h4>
							<h3>玩兔精品钢琴课</h3>
						</div>
						<div class="col-md-3 col-sm-5 col-xs-5 col-xxs-12">
							<ul>
								<li>年龄段：13-17岁</li>
								<li>乐器：钢琴</li>
								<li>课时数：12/24/48 节</li>
							</ul>
						</div>
						<div class="col-md-5 col-sm-7 col-xs-7 col-xxs-12">
							<p>We take care of the earth for future veterinarians, firemen and ballerinas.We take care of the earth for future veterinarians, firemen and ballerinas.We take care of the earth for future veterinarians.</p>
						</div>
						<a href="" data-toggle="modal" data-target="#myModal" class="hidden-xxs">免费试听报名</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="box box-sm br-white box-7 box-link">
					<div class="box-content">
						<div class="col-md-4 col-sm-12 col-xs-12 col-xxs-12">
							<h4 class="vice-title">PIANO COURSE 05</h4>
							<h3>玩兔陪练课</h3>
						</div>
						<div class="col-md-3 col-sm-5 col-xs-5 col-xxs-12">
							<ul>
								<li>年龄段：全年龄段</li>
								<li>乐器：钢琴</li>
								<li>课时数：12/24/48 节</li>
							</ul>
						</div>
						<div class="col-md-5 col-sm-7 col-xs-7 col-xxs-12">
							<p>We take care of the earth for future veterinarians, firemen and ballerinas.We take care of the earth for future veterinarians, firemen and ballerinas.We take care of the earth for future veterinarians.</p>
						</div>
						<a href="" data-toggle="modal" data-target="#myModal" class="hidden-xxs">免费试听报名</a>
					</div>
				</div>
			</div>
		</div> -->
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-6">
				<div class="box box-sm box-square box-10 box-class">
					<div class="type"><span>智能教室</span></div>
					<a href="#" data-toggle="modal" data-target="#myModal2">
						<div class="box-content center">
							<div class="center content">
			        			<h3>天津</h3>
			        			<p>西丨南丨角</p>
			        		</div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-6">
				<div class="box box-sm box-square br-white box-11">
					<img src="images/index/tran.svg" class="secondary_img">
				</div>
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12 col-xxs-12 col-md-offset-0 col-sm-offset-0 col-xs-12-offset-0 col-xxs-12-offset-0">
				<div class="box box-lg box-square box-12 box-number">
					<div class="type"><span>限量抢购</span></div>
					<div class="item">
			        	<div class="center">
			        		<div class="center content">
			        			<h2>1对1试听课<br>12元一节</h3>
			        			<a href="javascript:;" class="btn" data-toggle="modal" data-target="#myModal">马上预约</a>
			        			<a href="javascript:;" class="btn weixin">马上预约</a>
			        		</div>
			        		<img src="images/index/12.svg">
						</div>
			        </div>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12 col-xxs-12 col-md-offset-0 col-sm-offset-0 col-xs-12-offset-0 col-xxs-12-offset-0">
				<div class="box box-lg box-square br-white box-13">
			        <div class="box-hover box-hover-black">
						<div class="box-content center">
							<div class="center content">
								<p>Not everybody could sail the ocean, but still we could share this dream. </p>
								<p>不是每个人都能成为销魂的船长，但都可以让梦想远航。</p>
								<p style="text-align:right;">—《海上钢琴师》</p>
							</div>
						</div>
					</div>
		        	<img src="images/piano/people.png">
				</div>
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12 col-xxs-12">
				<div class="box box-sm box-rectangle-fat box-14 box-teacher">
					<div class="type"><span>玩兔教师</span></div>
					<a href="teacher.html">
						<div class="box-content">
							<div class="img-details box-hover-black">
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-xs-12 col-xxs-12 title-sec">
				<h3 class="title text-center" style="margin-bottom:20px;">了解更多</h3>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-6 col-md-offset-0 col-sm-offset-0">
				<div class="box box-sm box-square box-16 box-instrument box-drum">
					<div class="type"><span>架子鼓</span></div>
					<a href="drum.html">
						<div class="box-content center">
							<div class="center content">
			        			<h3>DRUMS</h3>
			        		</div>
						</div>
					</a>
					<img src="images/index/drum.svg">				
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-6 col-md-offset-0 col-sm-offset-0">
				<div class="box box-sm box-square box-17 box-instrument box-guitar">
					<div class="type"><span>吉他</span></div>
					<a href="guitar.html">
						<div class="box-content center">
							<div class="center content">
			        			<h3>GUITAR</h3>
			        		</div>
						</div>
					</a>
					<img src="images/index/guitar.svg">	
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-6 col-md-offset-0 col-sm-offset-0">
				<div class="box box-sm box-square box-18 box-instrument box-violin">
					<div class="type"><span>小提琴</span></div>
					<a href="violin.html">
						<div class="box-content center">
							<div class="center content">
			        			<h3>VIOLIN</h3>
			        		</div>
						</div>
					</a>
					<img src="images/index/violin.svg">
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-6 col-md-offset-0 col-sm-offset-0">
				<div class="box box-sm box-square box-19 box-instrument box-saxophone">
					<div class="type"><span>敬请期待</span></div>
					<!-- <a href="saxophone.html"> -->
					<a href="#" data-toggle="modal" data-target="#myModal2">
						<div class="box-content center">
							<div class="center content">
			        			<h3>SAXOPHONE</h3>
			        		</div>
						</div>
					</a>
					<img src="images/index/saxophone.svg">	
				</div>
			</div>
		</div>
	</div>
</div>

	{% block modal %}
	    {% include "base/_modal.html" %}
	{% endblock %}
	
{% endblock %}

{% block scripts %}
    {% parent %}
    <!-- build:js /scripts/piano.js -->
    	<script type="text/javascript" src="/scripts/drum.js"></script>
    <!-- endbuild -->
{% endblock %}