{% extends 'base/_layout.html' %}

{% block content %}
<div class="wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="vice-background teacher-bg carousel">

				</div>
			</div>
		</div>
	</div>
</div>

<div class="box-wrapper" id="myTabContent">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-12 col-xs-12 col-xxs-12 col-md-offset-0 col-sm-offset-0 col-xs-12-offset-0 col-xxs-12-offset-0">
				<div class="box box-lg box-square br-white box-1">
			        <div class="item">
			        	<div class="center">
			        		<div class="center content">
			        			<h1>teacher</h1>
			        			<h2 class="vice-title">教师</h2>
			        			<a href="" class="btn" data-toggle="modal" data-target="#myModal">报名成为教师</a>
			        		</div>
			        		<img src="images/teacher/teacher.svg">
						</div>
			        </div>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12 col-xxs-12 col-md-offset-0 col-sm-offset-0 col-xs-12-offset-0 col-xxs-12-offset-0">
				<div class="box box-lg box-square box-2">
			        <div class="item">
			        	<div class="center">
			        		<div class="center content">
			        			玩兔吉他系列课程，更加注重加强学员在现代音乐中对节奏，视唱，弹唱、和声及旋律多项技能的认知与掌握，培养学员的综合音乐素养及合作意识，掌控音乐的大局观。大师名曲练习，难点细节的掌握，结合玩兔先进现代化的教学体系及完美教具，无论是中世纪音乐还是现代指弹，从零基础到专业水准，只要你喜欢，成为自己最好的心灵歌者，没有什么不可以。
			        		</div>
						</div>
			        </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
				<div class="box box-sm box-square br-teacher box-3">
					<div class="box-content">
						<div class="item">
					        <div class="center">
								<div class="center content">
									<h3 class="title">专属乐团</h3>
									<p>
										为了让每一位学员都能得到正统、科学、规范、正确的音乐教育，在玩兔执教的音乐教师都是需要通过严格的认证制度才能进行授课，避免误人子弟的情况发生。
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
				<div class="box box-sm box-square br-teacher-dark box-4">
					<div class="box-content">
						<div class="item">
				        	<div class="center">
				        		<div class="center content">
									<h3 class="title">不同风格</h3>
									<p>通过认证的教师，玩兔同样也会以半年为一个周期进行专业技能考核，并进行等级评定，时刻监控教师的教学水平。</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
				<div class="box box-sm box-square br-teacher box-5">
					<div class="box-content">
						<div class="item">
				        	<div class="center">
				        		<div class="center content">
									<h3 class="title">私人订制</h3>
									<p>只有达到一定的等级，教师才可以进入玩兔教研小组，教研小组会将时下最先进的教学产品、教材、学习方法、教具进入玩兔课堂定期开展教研活动，提供最有效的解决方案。</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
				<div class="box box-sm box-square br-teacher-dark box-6">
					<div class="box-content">
						<div class="item">
				        	<div class="center">
				        		<div class="center content">
									<h3 class="title">展现自我</h3>
									<p>老师好不好，学员说的算。每学期课程结束后学员均可参与对该教师进行打分评定，该评定将直接影响教师的福利待遇。</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row qualification-part">
			<h1 class="title">成为玩兔教师</h1>
			<div class="col-md-5 col-md-offset-1 col-sm-6 col-sm-offfset-0">
				<div class="content-wrapper">
                    <span class="icon"><img src="images/teacher/appcrash.svg"></span>
                    <div class="content-right">
                        <h3 class="title"><span class="text">专业</span></h3>
                        <p class="intro-text">有专业的团队，带来高效的服务，让您省心教学。</p>
                    </div>
                </div>
			</div>
			<div class="col-md-5 col-md-offset-0 col-sm-6 col-sm-offfset-0">
				<div class="content-wrapper">
                    <span class="icon"><img src="images/teacher/appcrash.svg"></span>
                    <div class="content-right">
                        <h3 class="title"><span class="text">安全</span></h3>
                        <p class="intro-text">有专业的团队，带来高效的服务，让您省心教学。</p>
                    </div>
                </div>
			</div>
			<div class="col-md-5 col-md-offset-1 col-sm-6 col-sm-offfset-0">
				<div class="content-wrapper">
                    <span class="icon"><img src="images/teacher/appcrash.svg"></span>
                    <div class="content-right">
                        <h3 class="title"><span class="text">专业</span></h3>
                        <p class="intro-text">有专业的团队，带来高效的服务，让您省心教学。</p>
                    </div>
                </div>
			</div>
			<div class="col-md-5 col-md-offset-0 col-sm-6 col-sm-offfset-0">
				<div class="content-wrapper">
                    <span class="icon"><img src="images/teacher/appcrash.svg"></span>
                    <div class="content-right">
                        <h3 class="title"><span class="text">安全</span></h3>
                        <p class="intro-text">有专业的团队，带来高效的服务，让您省心教学。</p>
                    </div>
                </div>
			</div>
			<p class="text-center">
				<a href="" class="btn">查看职位要求</a>
			</p>
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}
    {% parent %}
    <!-- build:js /scripts/teacher.js -->
    	<script type="text/javascript" src="/scripts/drum.js"></script>
    <!-- endbuild -->
{% endblock %}