{% extends 'base/_layout.html' %}

{% block content %}
<div class="wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="vice-background teacher-bg carousel">

				</div>
			</div>
		</div>
	</div>
</div>

<div class="box-wrapper" id="myTabContent">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-12 col-xs-12 col-xxs-12 col-md-offset-0 col-sm-offset-0 col-xs-12-offset-0 col-xxs-12-offset-0">
				<div class="box box-lg box-square br-white box-1">
			        <div class="item">
			        	<div class="center">
			        		<div class="center content">
			        			<h1>teacher</h1>
			        			<h2 class="vice-title">教师</h2>
			        			<a href="" class="btn" data-toggle="modal" data-target="#myModal">报名成为教师</a>
			        		</div>
			        		<img src="images/teacher/teacher.svg">
						</div>
			        </div>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12 col-xxs-12 col-md-offset-0 col-sm-offset-0 col-xs-12-offset-0 col-xxs-12-offset-0">
				<div class="box box-lg box-square box-2">
			        <div class="item">
			        	<div class="center">
			        		<div class="center content">
			        			教师是玩兔教育体系中的重要角色，是和学员沟通最为频繁的玩兔员工。在玩兔教育体系中，教师不但承担了技能教授的基本职能，更重要的作用是根据每个学员的特点，来引导培养学员的兴趣，制定专属的教学方法和计划。在玩兔，老师更像是与你一同学习的朋友，和你一起享受成长的快乐。
			        		</div>
						</div>
			        </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
				<div class="box box-sm box-square br-teacher box-3">
					<div class="box-content">
						<div class="item">
					        <div class="center">
								<div class="center content">
									<h3 class="title">专业认证</h3>
									<p>
										每名教师都必须经过玩兔专业负责人严格的专业考核和岗前培训。
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
				<div class="box box-sm box-square br-teacher-dark box-4">
					<div class="box-content">
						<div class="item">
				        	<div class="center">
				        		<div class="center content">
									<h3 class="title">身份认证</h3>
									<p>玩兔为每名教师建立了完整的实名身份档案。</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
				<div class="box box-sm box-square br-teacher box-5">
					<div class="box-content">
						<div class="item">
				        	<div class="center">
				        		<div class="center content">
									<h3 class="title">定期考核</h3>
									<p>玩兔不止密切关注学员的学习进展，也会定期评估教师的教学能力。</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
				<div class="box box-sm box-square br-teacher-dark box-6">
					<div class="box-content">
						<div class="item">
				        	<div class="center">
				        		<div class="center content">
									<h3 class="title">教育经验</h3>
									<p>每名教师不但在自己的专业上经验丰富，更且擅长把自己的经验授予学员。</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row qualification-part">
			<h1 class="title">成为玩兔教师</h1>
			<div class="col-md-5 col-md-offset-1 col-sm-6 col-sm-offfset-0">
				<div class="content-wrapper">
                    <span class="icon"><img src="images/teacher/appcrash.svg"></span>
                    <div class="content-right">
                        <h3 class="title"><span class="text">前景</span></h3>
                        <p class="intro-text">搭上互联网教育的快车，让你的专业大有施展。</p>
                    </div>
                </div>
			</div>
			<div class="col-md-5 col-md-offset-0 col-sm-6 col-sm-offfset-0">
				<div class="content-wrapper">
                    <span class="icon"><img src="images/teacher/appcrash.svg"></span>
                    <div class="content-right">
                        <h3 class="title"><span class="text">待遇</span></h3>
                        <p class="intro-text">玩兔模式让你不再为坚持梦想犹豫，让艺术体现该有的价值。</p>
                    </div>
                </div>
			</div>
			<div class="col-md-5 col-md-offset-1 col-sm-6 col-sm-offfset-0">
				<div class="content-wrapper">
                    <span class="icon"><img src="images/teacher/appcrash.svg"></span>
                    <div class="content-right">
                        <h3 class="title"><span class="text">成长</span></h3>
                        <p class="intro-text">虽然你已经身为人师，但在这里你还是会持续学习。</p>
                    </div>
                </div>
			</div>
			<div class="col-md-5 col-md-offset-0 col-sm-6 col-sm-offfset-0">
				<div class="content-wrapper">
                    <span class="icon"><img src="images/teacher/appcrash.svg"></span>
                    <div class="content-right">
                        <h3 class="title"><span class="text">团队</span></h3>
                        <p class="intro-text">工程师、设计师、艺术家......让你不只局限在自己的小圈子。</p>
                    </div>
                </div>
			</div>
			<p class="text-center">
				<a href="" class="btn">查看职位要求</a>
			</p>
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}
    {% parent %}
    <!-- build:js /scripts/teacher.js -->
    	<script type="text/javascript" src="/scripts/drum.js"></script>
    <!-- endbuild -->
{% endblock %}