{% extends 'base/_layout.html' %}

{% block content %}
<div class="wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="vice-background teacher-bg carousel">

				</div>
			</div>
		</div>
	</div>
</div>

<div class="box-wrapper" id="myTabContent">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12 col-xxs-12 col-md-offset-0 col-sm-offset-0 col-xs-12-offset-0 col-xxs-offset-0">
				<!-- <embed src='http://player.youku.com/player.php/sid/XMTYyNjAwODM1Mg==/v.swf' allowFullScreen='true' quality='high' width='100%' align='middle' allowScriptAccess='always' type='application/x-shockwave-flash'></embed> -->
				<!-- <video src="movie.ogg" controls="controls" width="100%">
					您的浏览器不支持 video 标签。
				</video> -->
				<div class="video_container">
					<iframe width="100%" height="100%" src="http://player.youku.com/embed/XMTYyNjAwODM1Mg==" frameborder="0 allowfullscreen"></iframe>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12 col-xxs-12 col-md-offset-0 col-sm-offset-0 col-xs-12-offset-0 col-xxs-offset-0">
				<div class="box box-lg box-square br-white box-1">
			        <img src="images/trolls/performer.jpg">
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 col-xxs-12 col-md-offset-0 col-sm-offset-0 col-xs-12-offset-0 col-xxs-offset-0">
				<div class="box box-lg box-square box-2">
			        <div class="item">
			        	<div class="center">
			        		<div class="center content">
			        			<p>
			        				影片故事发生地是波比公主（安娜·肯德里克 配音）领导下的快乐丑娃村庄。所有丑娃们都过着平静而充满爱的生活，并且热爱互相拥抱。但布兰奇（贾斯汀·汀布莱克 配音）却是个例外，他进行了自我流放，总是担心丑娃们的天敌“博啃族”——一种只有吃掉丑娃才会开心的悲观反派，某天会再次回来，威胁他们的生存。不幸的是，布兰奇的担心成真了。波比公主的朋友们都被博啃族捉走了，而她则需要说服不情愿的布兰奇与他一起营救朋友与村庄。
			        			</p>
								<p>本片由“史瑞克”班底打造，还有着阵容强大的配音演员，贾斯汀·汀布雷克为布兰配音，而安娜·肯德里克则为波比公主配音。本片将于10月28日在中国各地同步上映。</p>
			        		</div>
						</div>
			        </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12 col-xxs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 col-xxs-offset-0 activity">
				<div class="col-md-12 col-sm-12 col-xs-12 col-xxs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 col-xxs-offset-0">
					<div class="content-wrapper text-center">
						<img src="/images/trolls/title.png">
					</div>
				</div>
				<div class="col-lg-4 col-md-5 col-sm-5 col-xs-12 col-lg-offset-2 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
					<div class="message-wrapper">
						<div class="img-wrapper">
							<img src="/images/trolls/gift1.png">
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-5 col-sm-5 col-xs-12 col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-xs-offset-0">
					<div class="message-wrapper">
						<div class="img-wrapper">
							<img src="/images/trolls/gift2.png">
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-5 col-sm-5 col-xs-12 col-lg-offset-2 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
					<div class="message-wrapper">
						<div class="text-wrapper">
							<h4 class="vice-title">兑换方式一</h4>
							<h3 class="title">报名试听课</h3>
							<p>活动期间内，凡报名并成功在玩兔试听音乐课一节的会员，可获得魔发精灵文具套装一套。</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-5 col-sm-5 col-xs-12 col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-xs-offset-0">
					<div class="message-wrapper">
						<div class="text-wrapper">
							<h4 class="vice-title">兑换方式二</h4>
							<h3 class="title">看电影，注册会员</h3>
							<p>影片上映后，家长带小朋友（5-15岁）凭天津地区影院电影票根，到玩兔门店注册玩兔会员并领取魔发精灵文具套装一套。</p>
						</div>
					</div>
				</div>
				<div class="col-lg-8 col-md-10 col-sm-10 col-xs-10 col-xxs-12 col-lg-offset-2 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-xxs-offset-0">
					<img src="/images/trolls/map.png" style="padding:0 10px;">
					<p style="padding-left:30px;font-size:14px;">活动细则：</p>
					<ol>
						<li>每位注册用户只能兑换一套魔发精灵限量礼品；</li>
						<li>礼品内容以实物为准，图片仅供参考；</li>
						<li>礼品数量有限，先到先得，兑完为止，前往门店前可先拨打门店热线进行预约，号码：020-60931756；</li>
						<li>礼品领取后在使用过程中产生的任何问题不在玩兔 12Swing 责任范围内；</li>
						<li>魔发限量礼品建议 5 岁以上儿童使用。</li>
					</ol>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12 col-xxs-12 col-md-offset-0 col-sm-offset-0 col-xs-12-offset-0 col-xxs-offset-0">
				<div class="poster">
					<img src="/images/trolls/banner2.jpg">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-6 col-xxs-6 col-md-offset-0 col-sm-offset-0">
				<div class="box box-sm box-square box-3 box-class">
					<div class="type"><span>智能教室</span></div>
					<a href="#" data-toggle="modal" data-target="#myModal">
						<div class="box-content center">
							<div class="center content">
			        			<h3>天津</h3>
			        			<p>西丨南丨角</p>
			        		</div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 col-xxs-6 col-md-offset-0">
				<div class="box box-sm br-white box-square box-4">
					<img src="images/index/tran.svg" class="secondary_img">
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 col-xxs-12">
				<div class="box box-lg box-square box-5 box-number">
					<div class="type"><span>限量抢购</span></div>
					<div class="item">
			        	<div class="center">
			        		<div class="center content">
			        			<h2>1对1试听课<br>12元一节</h3>
			        			<a href="javascript:;" class="btn ga" data="1" data-toggle="modal" data-target="#myModal">马上预约</a>
			        			<a href="app" class="btn weixin">马上预约</a>
			        		</div>
			        		<img src="images/index/12.svg">
						</div>
			        </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12 col-xxs-12">
				<div class="box box-sm box-rectangle-fat pull-up box-6 box-teacher">
					<div class="type"><span>玩兔教师</span></div>
					<a href="teacher.html">
						<div class="box-content">
							<div class="img-details box-hover-black">
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-xs-12 col-xxs-12 title-sec">
				<h3 class="title text-center" style="margin-bottom:20px;">了解更多</h3>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-6 col-md-offset-0 col-sm-offset-0">
				<div class="box box-sm box-square box-16 box-instrument box-piano">
					<div class="type"><span>钢琴</span></div>
					<a href="piano.html">
						<div class="box-content center">
							<div class="center content">
			        			<h3>PIANO</h3>
			        		</div>
						</div>
					</a>
					<img src="images/index/piano.svg">				
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-6 col-md-offset-0 col-sm-offset-0">
				<div class="box box-sm box-square box-17 box-instrument box-guitar">
					<div class="type"><span>吉他</span></div>
					<a href="guitar.html">
						<div class="box-content center">
							<div class="center content">
			        			<h3>GUITAR</h3>
			        		</div>
						</div>
					</a>
					<img src="images/index/guitar.svg">	
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-6 col-md-offset-0 col-sm-offset-0">
				<div class="box box-sm box-square box-18 box-instrument box-violin">
					<div class="type"><span>小提琴</span></div>
					<a href="violin.html">
						<div class="box-content center">
							<div class="center content">
			        			<h3>VIOLIN</h3>
			        		</div>
						</div>
					</a>
					<img src="images/index/violin.svg">
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-6 col-md-offset-0 col-sm-offset-0">
				<div class="box box-sm box-square box-19 box-instrument box-drum">
					<div class="type"><span>架子鼓</span></div>
					<!-- <a href="saxophone.html"> -->
					<a href="drum.html">
						<div class="box-content center">
							<div class="center content">
			        			<h3>DRUMS</h3>
			        		</div>
						</div>
					</a>
					<img src="images/index/drum.svg">	
				</div>
			</div>
		</div>
	</div>
</div>
	{% block modal %}
	    {% include "base/_modal.html" %}
	{% endblock %}

{% endblock %}

{% block scripts %}
    {% parent %}
    <!-- build:js /scripts/trolls.js -->
    	<script type="text/javascript" src="/scripts/trolls.js"></script>
    	<script type="text/javascript" src="/scripts/trolls.js"></script>
    <!-- endbuild -->
{% endblock %}